{% load static %}
{% load humanize %}

<section class="cs-slide-v-2-swiper-container position-relative" id="main-product-swiper-3">
    <div class="row mt-1 px-4 swiper-wrapper">
        {% for product in latest_products %}
        <article class="py-2 max-p mt-4 swiper-slide text-center position-relative">
            <div class="stars align-items-center position-absolute ">
                <svg class="star rated  cs-star" viewBox="0 0 24 24">
                    <polygon points="12 2 15 10 24 10 17 15 19 23 12 18 5 23 7 15 0 10 9 10" />
                </svg>
                <span class="text-dark mt-1 cs-span mx-1">
                    {{product.avg_rate}}
                </span>
            </div>
            <div class="product d-flex justify-content-center align-items-center py-3">
                <img class="two-img" src="{{product.image.url}}" alt="{{product.title}}">
                <img class="one-img" src="{{product.image.url}}" alt="{{product.title}}">
                <div class="icons d-flex justify-content-center">
                    {% if request.user.is_authenticated %}
                        {% if product.id in wishlist_items %}
                    <button onclick="addToWishlist(this, {{ product.id }})" data-likes="1" data-liked="true"
                        class="like active">
                        <svg class="svg-tag" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"
                            width="1.5em" height="1em">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                d="m7 12.45l-5.52-5c-3-3 1.41-8.76 5.52-4.1c4.11-4.66 8.5 1.12 5.52 4.1Z">
                            </path>
                        </svg>
                    </button>
                        {% else %}
                    <button onclick="addToWishlist(this, {{ product.id }})" data-likes="0" data-liked="false"
                        class="like">
                        <svg class="svg-tag" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"
                            width="1.5em" height="1em">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                d="m7 12.45l-5.52-5c-3-3 1.41-8.76 5.52-4.1c4.11-4.66 8.5 1.12 5.52 4.1Z">
                            </path>
                        </svg>
                    </button>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'dashboard:home' %}">
                        <button data-likes="0" data-liked="false"
                            class="like">
                            <svg class="svg-tag" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"
                                width="1.5em" height="1em">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    d="m7 12.45l-5.52-5c-3-3 1.41-8.76 5.52-4.1c4.11-4.66 8.5 1.12 5.52 4.1Z">
                                </path>
                            </svg>
                        </button>
                    </a>

                    {% endif %}
                    <a href="{% url 'shop:product-detail' slug=product.slug %}">
                        <button class="view">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1.5em" height="1.2em">
                                <path fill="currentColor" fill-rule="evenodd"
                                    d="M12 17.8c4.034 0 7.686-2.25 9.648-5.8C19.686 8.45 16.034 6.2 12 6.2S4.314 8.45 2.352 12c1.962 3.55 5.614 5.8 9.648 5.8M12 5c4.808 0 8.972 2.848 11 7c-2.028 4.152-6.192 7-11 7s-8.972-2.848-11-7c2.028-4.152 6.192-7 11-7m0 9.8a2.8 2.8 0 1 0 0-5.6a2.8 2.8 0 0 0 0 5.6m0 1.2a4 4 0 1 1 0-8a4 4 0 0 1 0 8">
                                </path>
                            </svg>
                        </button>
                    </a>
                </div>
            </div>
            <h3 class="Specifications px-3 ">{{product.title}}</h3>
            <span class="cus-fs-1 mt-2 px-3 d-bx">{{product.get_min_discounted_price|intcomma}} <span class="money-icon"></span></span>
            <a class="position-absolute  href-slide" href="{% url 'shop:product-detail' slug=product.slug %}"></a>
        </article>
        {% endfor %}

    </div>
    <div class="cs-slide-v-2-swiper-button-prev back-and-next-c-b">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1.5em" height="1.5em">
            <path fill="currentColor" d="M8.59 16.59L13.17 12L8.59 7.41L10 6l6 6l-6 6z"></path>
        </svg>
    </div>
    <div class="cs-slide-v-2-swiper-button-next back-and-next-c-b">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1.5em" height="1.5em">
            <path fill="currentColor" d="M15.41 7.41L14 6l-6 6l6 6l1.41-1.41L10.83 12z"></path>
        </svg>
    </div>
</section>