{% load static %}
<br><br>
<section class="blog mt-4">

    <h5 class="text-center mb-4">

        <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>
        <span class="px-2">وبلاگ </span>
        <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>
    </h5>

    <div class="container">
        <div class="blog-container has-scrollbar">
            {% for post in posts %}
            <div class="blog-card">
                <a href="{% url 'blog:blog-detail' slug=post.slug %}">
                    <img style="max-width: 292px;" src="{{post.image.url}}" alt="{{post.title}}" class="blog-banner"
                        width="300">
                </a>

                <div class="blog-content">
                    <a href="{% url 'blog:blog-detail' slug=post.slug %}" class="blog-category">
                        {% for cat in post.category.all|slice:"-2:" %}
                        {{ cat.name }}
                        {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </a>
                    <a href="{% url 'blog:blog-detail' slug=post.slug %}">
                        <h3 class="blog-title">{{post.title}}</h3>
                    </a>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <a href="{% url 'blog:blog-list' %}" class="btn rounded-3 theme-color text-light">
            دیدن همه
        </a>
    </div>
</section>



<!-- blog img :: start----->