{% extends 'dashboard/admin/layout.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<style>
    .small-primary-button {
        padding: 3px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 10px;
        border-radius: 5px;
    }

    .small-primary-button:hover,
    .small-primary-button:focus {
        background-color: #0056b3;
    }
</style>
{% endblock %}

{% block content %}
<div>
            <div class="card mb-6">
                <!-- Header -->
                <div class="card-header flex justify-between items-center">
                    <h5 class="card-header-title">ویرایش محصول ثبت شده </h5>

                </div>
                <!-- End Header -->

                <!-- Body -->
                <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="grid grid-cols-12 gap-x-4 flex">
                            <div class="col-span-12 md:col-span-6 mb-4">
                                <label>نام محصول </label>
                                {{form.product}}
                            </div>
                            <div class="col-span-12 md:col-span-6 mb-4">
                                <label>آدرس محصول همراه تل</label>
                                {{form.url}}
                            </div>
                            <div class="col-span-12 md:col-span-6 mb-4">
                                <label>آدرس محصول کسرا پلاس </label>
                                {{form.url_kasra}}
                            </div>
                        <div class="col-span-12 md:col-span-6 mb-4">
                            <label>درصد سود</label>
                            {{form.profit}}
                        </div>

                        </div>
                        <div class="card-footer">
                            <div class="flex pt-6 justify-end">
                                <a class="btn btn-danger" href="{% url 'dashboard:admin:colors-delete' pk=object.pk %}">حذف</a>
                                <a class="btn btn-secondary" href="{% url 'dashboard:admin:colors-list' %}">بازگشت</a>
                                <button class="btn btn-primary" type="submit">ثبت تغییرات</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}