{% extends 'dashboard/admin/layout.html' %}
{% load static %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">حساب</li>
        <li class="breadcrumb-item">داشبورد ادمین</li>
        <li class="breadcrumb-item">تخفیف ها</li>
        <li class="breadcrumb-item active" aria-current="page">
            حذف کد تخفیف
        </li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="card">
    <!-- Header -->
    <div class="card-header">
        <h5 class="card-header-title">حذف کد تخفیف</h5>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <form action="." method="post">
        {% csrf_token %}
        <div class="card-body">
            <div class="flex flex-col gap-2">
                <p> آیا از حذف کد تخفیف زیر اطمینان دارید؟</p>
                <div class="flex flex-col gap-2">
                     <span>شناسه کد تخفیف  : {{object.pk}}</span>
                     <span>انام کد تخفیف  : {{object.code}}</span>
                </div>

            </div>
            <div class="card-footer">
                <div class="flex pt-6 justify-end">
                    <button type="submit" class="btn btn-danger">تایید حذف</button>
                    <a class="btn btn-secondary" href="{% url 'dashboard:admin:coupon-edit' pk=object.pk %}">بازگشت</a>
                </div>
            </div>
    </form>
</div>

</div>
{% endblock %}

