# main modules
Django>4.2,<4.3

gunicorn
django-jalali

django-taggit
# database modules
psycopg==3.1.12

django-debug-toolbar==4.2.0
idna==3.6
pillow==10.2.0

# psycopg-binary==3.1.12
python-decouple==3.8


# api for models
celery
Redis
django-celery-beat
django-redis
requests

# sing with google
django-jalali
django-jalali-date
django-allauth
PyJWT
cryptography


# seo
django-robots


# eidtor text
django-summernote 

# chat in project
channels


# api
djangorestframework
markdown
django-filter
djangorestframework-simplejwt
django-taggit-serializer
django-cors-headers
