<ul class="nav nav-tabs mb-0 b-none w-center justify-content-center flex-nowrap s-x my-scrolling-container">
    <a href="?status=1" class="nav-item m-i-sd"><button
            class=" {% if request.GET.status == '1' %}active{% endif %} text-nowrap fs-12">در انتظار
            پرداخت</button></a>
    <a href="?status=2" class="nav-item m-i-sd"><button
            class=" {% if request.GET.status == '2' %}active{% endif %}  text-nowrap fs-12">در انتظار
            تایید سفارش</button></a>
    <a href="?status=3" class="nav-item m-i-sd"><button
            class=" {% if request.GET.status == '3' %}active{% endif %} text-nowrap fs-12">در حال پردازش</button></a>
    <a href="?status=4" class="nav-item m-i-sd"><button
            class="{% if request.GET.status == '4' %}active{% endif %} text-nowrap fs-12">ارسال شده</button></a>
    <a href="?status=5" class="nav-item m-i-sd"><button
            class=" {% if request.GET.status == '5' %}active{% endif %} text-nowrap fs-12">تحویل شده</button></a>
    <a href="?status=6" class="nav-item m-i-sd"><button
            class=" {% if request.GET.status == '6' %}active{% endif %} text-nowrap fs-12">لغو شده</button></a>
</ul>
        