<nav style="margin-bottom: 20px;" class="mobile-bottom-nav" id="mobileNavigation">
    <a href="{% url 'dashboard:customer:profile-edit' %}" class="mobile-nav-item" data-page="account"><svg>
            <use xlink:href="#icon-user-circle"></use>
        </svg><span>حساب</span></a>

    <a href="{% url 'dashboard:customer:wallet-detail' %}" class="mobile-nav-item" data-page="account"><svg>
            <use xlink:href="#icon-wallet"></use>
        </svg><span>کیف پول</span></a>

    <a href="{% url 'dashboard:customer:order-list' %}" class="mobile-nav-item" data-page="orders"><svg>
            <use xlink:href="#icon-receipt-list"></use>
        </svg><span>سفارش‌ها</span></a>

    <a href="{% url 'dashboard:customer:address-list' %}" class="mobile-nav-item" data-page="addresses"><svg>
            <use xlink:href="#icon-map-pin"></use>
        </svg><span>آدرس‌ها</span></a>

    <a href="{% url 'dashboard:customer:wishlist-list' %}" class="mobile-nav-item" data-page="wishlist"><svg>
            <use xlink:href="#icon-heart-solid"></use>
        </svg><span>علاقه‌ها</span></a>

    <a href="{% url 'dashboard:customer:security-edit' %}" class="mobile-nav-item" data-page="password"><svg>
            <use xlink:href="#icon-lock-password"></use>
        </svg><span>تغییر رمز</span></a>

    <!-- <a href="#" class="mobile-nav-item" data-page="reviews"><svg><use xlink:href="#icon-comment-dots"></use></svg><span>نظرات</span></a> -->
</nav>