{% load static %}
<aside class="profile-sidebar-new">
    <form method="post" id="profileImageForm" action="{% url 'dashboard:customer:profile-image-edit' %}"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="sidebar-user-info">
            <div class="sidebar-avatar-wrapper">
                <img src="{{ request.user.user_profile.image.url }}" alt="آواتار پیش‌فرض" class="sidebar-avatar"
                    id="profileAvatarPreview">
                <label for="avatarUploadInput" class="sidebar-avatar-upload p-1" title="تغییر عکس پروفایل">
                    <svg viewBox="0 0 24 24">
                        <use xlink:href="#icon-edit-pencil"></use>
                    </svg>
                </label>
                <input type="file" name="image" id="avatarUploadInput" class="d-none" accept="image/*"
                    onchange="setTimeout(() => document.getElementById('profileImageForm').submit(), 100);">
            </div>
        </div>
    </form>

    <h1 class="sidebar-user-name text-dark">{{request.user.user_profile.get_full_name}}</h1>

    <nav class="sidebar-nav-new">
        <ul>
            <li><a href="{% url 'dashboard:customer:profile-edit' %}" data-page="account" class="active"><svg>
                        <use xlink:href="#icon-user-circle"></use>
                    </svg> اطلاعات حساب</a></li>
            <li><a href="#" data-page="orders"><svg>
                        <use xlink:href="#icon-receipt-list"></use>
                    </svg> سفارشات</a></li>
            <li><a href="#" data-page="addresses"><svg>
                        <use xlink:href="#icon-map-pin"></use>
                    </svg> آدرس‌ها</a></li>
            <li><a href="#" data-page="wishlist"><svg>
                        <use xlink:href="#icon-heart-solid"></use>
                    </svg> علاقه‌مندی‌ها</a></li>
            <li><a href="#" data-page="reviews"><svg>
                        <use xlink:href="#icon-comment-dots"></use>
                    </svg> نظرات من</a></li>
            <li><a href="#" data-page="password"><svg>
                        <use xlink:href="#icon-lock-password"></use>
                    </svg> تغییر رمز</a></li>
            <li class="nav-separator"></li>
            <li><a href="#" id="logoutButton"><svg>
                        <use xlink:href="#icon-logout-door"></use>
                    </svg> خروج از حساب</a></li>
        </ul>
    </nav>
</aside>