{% extends 'dashboard/admin/layout.html' %}
{% load static %}
{% load humanize %}
{% load jformat %}

{% block content %}
<!-- Card -->
    <div class="card">
      <!-- Header -->
      <div class="card-header">
        <div class="flex justify-between items-center">
          <h5 > کاربر {{object.email}}</h5>
          {% if object.is_successful %}
          <!-- <a class="btn btn-primary" href="{% comment %}{% url 'dashboard:admin:order-invoice' pk=object.pk %}{% endcomment %}" target="_blank">مشاهده فاکتور</a> -->
          {% endif %}
        </div>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="card-body">

        <div class="flex flex-col gap-2">
          <!-- Table -->
          <div class="table-wrap">
            <table class="table stack">
              <thead >
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">تصویر</th>
                  <th scope="col">نام و نام خانوادگی</th>
                  <th scope="col">شماره کاربر</th>
                  <th scope="col">نوع کاربر</th>
                  <th scope="col">تعداد سفارش ها</th>
                  <th scope="col">سن کاربر</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th scope="row" data-label="#">{{object.id}}</th>
                  <td data-label="تصویر">
                    <span class="avatar">
                      <img class="thumb" src="{{object.user_profile.image.url}}" alt="Image Description">
                    </span>
                  </td>
                  <td data-label="نام و نام خانوادگی">{{object.user_profile.get_fullname}}</td>
                  <td data-label="شماره کاربر">{{object.phone_number}}</td>
                  <td data-label="نوع کاربر">{{object.get_type_display}}</td>
                  <td data-label="تعداد سفارش ها"> {{ order_count }}<a href="{% url 'dashboard:admin:users-order' pk=object.id %}">مشاهده</a></td>
                  <td class="formatted-price" data-label="سن کاربر">{{object.user_profile.age}}</td>
                </tr>
                
              </tbody>
            </table>
          </div>
          <!-- End Table -->

        </div>
        <!-- End Row -->

      </div>
      <div class="flex flex-col gap-2 card-footer pt-6 mt-6">
        <form>
          <div class="grid grid-cols-12 gap-x-4 mb-4 items-center">
            <dt class="detail-label">موجودی کیف پول : <a href="{% url 'dashboard:admin:users-wallet' pk=object.wallet_user.id %}">مشاهده</a></dt>
            <dl class="detail-value">{{object.wallet_user.balance|floatformat:0|intcomma}} تومان</dl>
            <dt class="detail-label">تعداد محصولات مورد علاقه: <a href="{% url 'dashboard:admin:users-wishlist' pk=object.id %}">مشاهده</a></dt>
            <dl class="detail-value">{{wishlist_count}}</dl>
          </div>
          <div class="grid grid-cols-12 gap-x-4 mb-4">
            <dt class="detail-label"> تاریخ عضویت:</dt>
            <dl class="detail-value">{{ object.created_date|jformat:"%Y/%m/%d" }}</dl>
            <dt class="detail-label">تعداد چت ها : <a href="{% url 'dashboard:admin:users-chat' pk=object.id %}">مشاهده</a></dt>
            <dl class="detail-value">{{customer_chat_count}}</dl>
          </div>
          <!-- End Row -->
          <div class="grid grid-cols-12 gap-x-4 mb-4">
            <dt class="detail-label"> تعداد نظر های داده شده: <a href="{% url 'dashboard:admin:users-review' pk=object.id %}">مشاهده</a></dt>
            <dl class="detail-value">{{reviw_count}}</dl>

          </div>

                    
          <div class="flex pt-6 justify-end">
            <a class="btn btn-secondary" href="{% url 'dashboard:admin:users-list' %}">بازگشت</a>

          </div>
        </form>
      </div>
      <!-- End Body -->
    </div>
    <!-- End Card -->
  

{% endblock %}