{% extends 'dashboard/admin/layout.html' %}
{% load static %}

{% block content %}
<div class="grid grid-cols-12 gap-x-4" style="justify-content: center;">
    <!-- Card -->
    <div class="col-span-12 md:col-span-9">
        <h2>لیست پیام‌ها</h2>
        <table class="table stack">
            <thead>
                <tr>
                    <th>#</th>
                    <th>نام محصول</th>
                    <th>کابر</th>
                    <th>ادمین</th>
                    <th>تاریخ</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in object_list %}
                <tr>
                    <td data-label="#">{{ contact.id }}</td>
                    <td data-label="نام محصول">{{ contact.product }}</td>
                    <td data-label="کابر">{{ contact.customer.user_profile.get_fullname }}</td>
                    <td data-label="ادمین">{{ contact.admin.email  }}</td>
                    <td data-label="تاریخ">{{ contact.created_at|date:"Y-m-d H:i" }}</td>
                    <td data-label="عملیات">
                        <a class="btn btn-info btn-sm" href="{% url 'dashboard:admin:chat-detail' contact.pk %}">مشاهده</a>
                        <a class="btn btn-info btn-sm" href="{% url 'dashboard:admin:chat_room_send' contact.pk %}">پاسخ</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td class="table-empty"  colspan="5">هیچ پیامی یافت نشد.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Pagination controls -->
{% include 'dashboard/admin/_pagination.html' %}
{% endblock content %}