{% extends 'dashboard/admin/layout.html' %}
{% load static %}

{% block content %}
<div class="card">
            <!-- Header -->
            <div class="card-header flex justify-between items-center">
                <h5 class="card-header-title">ویرایش نظر</h5>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <div class="flex flex-col gap-2">
                        {{form.as_p}}

                    </div>
                    <div class="card-footer">
                        <div class="flex pt-6 justify-end">
                            <a class="btn btn-secondary" href="{% url 'dashboard:admin:review-list' %}">بازگشت</a>
                            <button class="btn btn-primary" type="submit">ثبت تغییرات</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>

{% endblock %}