{% extends 'base.html' %}
{% load static %}
{% block title %}
    collection
{% endblock title %}

{% block content %}

<!--main collection start------->

<main class="d-flex justify-content-center flex-column">

<!--    box category product start-->
    <section class="d-flex justify-content-center flex-column py-3 px-5">
        <div class="row my-2">
            <div class="col-md-3 col-sm-6 col-12 py-2 text-center d-flex justify-content-center align-items-center">
                <div class="position-relative webkit-center">
                    <div class="overlay-for-plp">

                    </div>
                    <img alt="ایرپاد پرو" class="w-50" src="{% static 'img/product/3-airpod-1.jpg' %}">
                    <h5 class="position-absolute px-3 py-2">
                        <a href="">ایرپاد</a>
                    </h5>
                    <span class="show-btn-for-plp">
                        <a href="">اکنون خرید کنید</a>
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 py-2 text-center d-flex justify-content-center align-items-center">
            <div class="position-relative webkit-center">
                <div class="overlay-for-plp">

                </div>
                <img alt="لپ تاپ ایسوس" class="w-50" src="{% static 'img/product/asus-laptop-2.jpg' %}">
                <h5 class="position-absolute px-3 py-2">

                    <a href="">لپ تاپ</a>
                </h5>
                <span class="show-btn-for-plp">
                        <a href="">اکنون خرید کنید</a>
                    </span>
            </div>
        </div>
            <div class="col-md-3 col-sm-6 col-12 py-2 text-center d-flex justify-content-center align-items-center">
                <div class="position-relative webkit-center">
                    <div class="overlay-for-plp">

                    </div>
                    <img alt="گوشی موبایل" class="w-50" src="{% static 'img/product/Samsung_Galaxy_A15_2.jpg' %}">
                    <h5 class="position-absolute px-3 py-2">
                        <a href="">گوشی</a>
                    </h5>
                    <span class="show-btn-for-plp">
                        <a href="">اکنون خرید کنید</a>
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 py-2 text-center d-flex justify-content-center align-items-center">
                <div class="position-relative webkit-center">
                    <div class="overlay-for-plp">

                    </div>
                    <img alt="اپل واچ" class="w-50" src="{% static 'img/product/2-apple-watch-1.jpg' %}">
                    <h5 class="position-absolute px-3 py-2">

                        <a href="">اپل واچ</a>
                    </h5>
                    <span class="show-btn-for-plp">
                        <a href="">اکنون خرید کنید</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-3 col-sm-6 col-12 py-2 text-center d-flex justify-content-center align-items-center">
                <div class="position-relative webkit-center">
                    <div class="overlay-for-plp">

                    </div>
                    <img alt="لپ تاپ ایسوس" class="w-50" src="{% static 'img/product/asus-laptop-2.jpg' %}">
                    <h5 class="position-absolute px-3 py-2">

                        <a href="">لپ تاپ</a>
                    </h5>
                    <span class="show-btn-for-plp">
                        <a href="">اکنون خرید کنید</a>
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 py-2 text-center d-flex justify-content-center align-items-center">
                <div class="position-relative webkit-center">
                    <div class="overlay-for-plp">

                    </div>
                    <img alt="اپل واچ" class="w-50" src="{% static 'img/product/2-apple-watch-1.jpg' %}">
                    <h5 class="position-absolute px-3 py-2">

                        <a href="">اپل واچ</a>
                    </h5>
                    <span class="show-btn-for-plp">
                        <a href="">اکنون خرید کنید</a>
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 py-2 text-center d-flex justify-content-center align-items-center">
            <div class="position-relative webkit-center">
                <div class="overlay-for-plp">

                </div>
                <img alt="ایرپاد پرو" class="w-50" src="{% static 'img/product/3-airpod-1.jpg' %}">
                <h5 class="position-absolute px-3 py-2">
                    <a href="">ایرپاد</a>
                </h5>
                <span class="show-btn-for-plp">
                        <a href="">اکنون خرید کنید</a>
                    </span>
            </div>
        </div>
            <div class="col-md-3 col-sm-6 col-12 py-2 text-center d-flex justify-content-center align-items-center">
            <div class="position-relative webkit-center">
                <div class="overlay-for-plp">

                </div>
                <img alt="گوشی موبایل" class="w-50" src="{% static 'img/product/Samsung_Galaxy_A15_2.jpg' %}">
                <h5 class="position-absolute px-3 py-2">
                    <a href="">گوشی</a>
                </h5>
                <span class="show-btn-for-plp">
                        <a href="">اکنون خرید کنید</a>
                    </span>
            </div>
        </div>
        </div>
        <div class="row my-2">
            <div class="col-md-3 col-sm-6 col-12 py-2 text-center d-flex justify-content-center align-items-center">
            <div class="position-relative webkit-center">
                <div class="overlay-for-plp">

                </div>
                <img alt="گوشی موبایل" class="w-50" src="{% static 'img/product/Samsung_Galaxy_A15_2.jpg' %}">
                <h5 class="position-absolute px-3 py-2">
                    <a href="">گوشی</a>
                </h5>
                <span class="show-btn-for-plp">
                        <a href="">اکنون خرید کنید</a>
                    </span>
            </div>
        </div>
            <div class="col-md-3 col-sm-6 col-12 py-2 text-center d-flex justify-content-center align-items-center">
                <div class="position-relative webkit-center">
                    <div class="overlay-for-plp">

                    </div>
                    <img alt="ایرپاد پرو" class="w-50" src="{% static 'img/product/3-airpod-1.jpg' %}">
                    <h5 class="position-absolute px-3 py-2">
                        <a href="">ایرپاد</a>
                    </h5>
                    <span class="show-btn-for-plp">
                        <a href="">اکنون خرید کنید</a>
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12 py-2 text-center d-flex justify-content-center align-items-center">
            <div class="position-relative webkit-center">
                <div class="overlay-for-plp">

                </div>
                <img alt="لپ تاپ ایسوس" class="w-50" src="{% static 'img/product/asus-laptop-2.jpg' %}">
                <h5 class="position-absolute px-3 py-2">

                    <a href="">لپ تاپ</a>
                </h5>
                <span class="show-btn-for-plp">
                        <a href="">اکنون خرید کنید</a>
                    </span>
            </div>
        </div>
            <div class="col-md-3 col-sm-6 col-12 py-2 text-center d-flex justify-content-center align-items-center">
                <div class="position-relative webkit-center">
                    <div class="overlay-for-plp">

                    </div>
                    <img alt="اپل واچ" class="w-50" src="{% static 'img/product/2-apple-watch-1.jpg' %}">
                    <h5 class="position-absolute px-3 py-2">

                        <a href="">اپل واچ</a>
                    </h5>
                    <span class="show-btn-for-plp">
                        <a href="">اکنون خرید کنید</a>
                    </span>
                </div>
            </div>
        </div>
    </section>
<!--    box category product end----->



</main>

<!--main collection end--------->
{% endblock content %}