{% extends 'base.html' %}
{% load static %}


{% block title %}
    contact
{% endblock title %}
    

{% block content %}


<main class="d-flex justify-content-center flex-column">

    <section class="py-5 text-center">
        <div>
            <h5 class="text-center">
                <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>
                <span class="px-2"> ارتباط با ما </span>
                <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>
            </h5>
        </div>
    </section>



<!--    map ::: start----->

    <section class="mt-3">
        <div class="mapouter"><div class="gmap_canvas"><iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3302.2624086549424!2d51.39918441509038!3d35.69144888019202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8db3c8a59c4403%3A0xfff3bb1b3827615c!2z2YjYsiDYqNiz2YQg2KfYsdin2Ygg2KfZhdmI2KfYsdmE2KfYsdmE!5e0!3m2!1spr!2s!4v1676748299891!5m2!1spr!2s"
                width="100%"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"></iframe></a><br><style>.mapouter{position:relative;text-align:right;height:392px;width:100%;}</style><style>.gmap_canvas {overflow:hidden;background:none!important;height:392px;width:100%;}</style></div></div>
        <!--  You can get your location here https://www.embedgooglemap.net  -->

        </div>
    </section>

<!--    map ::: end------->



<!--    icons and input in contact start--------->
    <section class="row mt-5">
        <div class="col-md-6 col-sm-12 d-flex flex-column">
            <h5 class="text-center">با ما تماس بگیرید</h5>
            <div class="d-flex justify-content-evenly my-3 align-items-baseline">
                <p>
                    7882 rd reliance GIDC
                    Parck chowk bazzar , new york
                </p>
                <span class="box-icon position-relative">

                         <svg class="icon-hover"
                                 xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 512 512"
                                 width="1.2em"
                                 height="1.2em"
                          >
                             <path
                                     fill="currentColor"
                                     fill-rule="evenodd"
                                     d="M256 42.667c82.475 0 149.334 66.859 149.334 149.333c0 24.937-6.095 48.433-16.916 69.108L256 490.667L126.65 266.676c-12.73-21.982-19.983-47.472-19.983-74.676c0-82.474 66.859-149.333 149.333-149.333m0 42.667c-58.91 0-106.666 47.756-106.666 106.666c0 16.94 3.908 33.194 11.303 47.867l3.584 6.546L256 405.333l92.427-160.04c9.293-16.046 14.239-34.235 14.239-53.293c0-58.91-47.756-106.666-106.667-106.666M256 128c35.347 0 64 28.654 64 64s-28.653 64-64 64c-35.346 0-64-28.653-64-64c0-35.346 28.654-64 64-64m0 42.667c-11.782 0-21.333 9.551-21.333 21.333s9.551 21.334 21.333 21.334s21.334-9.552 21.334-21.334s-9.552-21.333-21.334-21.333"
                             ></path>
                         </svg>

                </span>
            </div>
            <div class="d-flex justify-content-evenly my-3 align-items-baseline">
                <p>
                    7882 rd reliance GIDC
                    Parck chowk bazzar , new york
                </p>
                <span class="box-icon position-relative">
                         <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24"
                                 width="1.3em"
                                 height="1.3em"
                          >
                           <path
                                      fill="currentColor"
                                      d="M15.5 1h-8A2.5 2.5 0 0 0 5 3.5v17A2.5 2.5 0 0 0 7.5 23h8a2.5 2.5 0 0 0 2.5-2.5v-17A2.5 2.5 0 0 0 15.5 1m-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5s1.5.67 1.5 1.5s-.67 1.5-1.5 1.5m4.5-4H7V4h9z"
                             ></path>
                          </svg>


                </span>
            </div>
            <div class="d-flex justify-content-evenly my-3 align-items-baseline">
                <p>
                    7882 rd reliance GIDC
                    Parck chowk bazzar , new york
                </p>
                <span class="box-icon position-relative">
                    <svg
                           xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 26 26"
                           width="1.3em"
                           height="1.3em"
                          >
                      <path
                               fill="currentColor"
                              d="M3 4C1.344 4 0 5.344 0 7v12c0 1.656 1.344 3 3 3h20c1.656 0 3-1.344 3-3V7c0-1.656-1.344-3-3-3zm0 2h20c.551 0 1 .449 1 1v.5l-11 5.938L2 7.5V7c0-.551.449-1 1-1M2 7.781l6.531 5.094l-6.406 6.563l7.813-5.563L13 15.844l3.063-1.969l7.812 5.563l-6.406-6.563L24 7.781V19a.95.95 0 0 1-.125.438c-.165.325-.486.562-.875.562H3c-.389 0-.71-.237-.875-.563A.95.95 0 0 1 2 19z"
                         ></path>
                     </svg>
                </span>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 px-5">
            <h5 class="text-center">به ما پیام دهید</h5>
            <form class="d-flex flex-column justify-content-center">
                <label class="my-3">
                    نام
                    <input class="form-control my-2" type="text" placeholder="نام خود را وارد کنید">
                </label>
                <label class="my-3">
                    ایمیل
                    <input class="form-control my-2" type="email" placeholder="ایمیل خود را وارد کنید">
                </label>
                <label class="my-3">
                    پیام
                    <textarea class="form-control my-2" placeholder="پیام شما"></textarea>
                </label>
                <button type="submit" class="btn-tv custom-w">ارسال</button>
            </form>
        </div>
    </section>
<!--    icons and input in contact end----------->



</main>

{% endblock content %}

