{% extends 'base.html' %}
{% load static %}
{% load shop_tags %}
{% load website_blog_res %}

{% block title %}
    من مارکت
{% endblock title %}

{% block content %}

<!--    main slider :: start------------>
<section class="swiper mySwiper px-3 my-4">
    <div class="swiper-wrapper">
        <div class="swiper-slide one-bg">
            <img alt="product-slider" src="{% static 'img/1.slider.png' %}"/>
            <div class="slide-text2">مجموعه جدید کنسول بازی</div>
            <h6 class="slide-text">زمان بازی است</h6>
            <a href="{% url 'shop:product-list' %}"><button class="shop-now">اکنون خرید کنید</button></a>
        </div>
        <div class="swiper-slide two-bg">
            <img alt="product-slider" src="{% static 'img/2.slider.png' %}"/>
            <div class="slide-text2">مجموعه جدید لپ تاپ</div>
            <h6 class="slide-text">استعداد شما علاقه ما</h6>
            <a href="{% url 'shop:product-list' %}?category=3"><button class="shop-now">اکنون خرید کنید</button></a>        
        </div>
        <div class="swiper-slide three-bg">
            <img alt="product-slider" src="{% static 'img/3.slider.png' %}"/>
            <div class="slide-text2">مجموعه جدید موبایل</div>
            <h6 class="slide-text">متفاوت فکر کن</h6>
            <a href="{% url 'shop:product-list' %}?category=1"><button class="shop-now">اکنون خرید کنید</button></a>
        </div>
    </div>
    <div class="swiper-button-next next"></div>
    <div class="swiper-button-prev prev"></div>
    <div class="swiper-pagination"></div>
</section>
<!--    main slider :: end-------------->



<main class="d-flex justify-content-center flex-column container position-relative px-5">


    <!--top banner :: start------------->
    <section  class="mt-3 row text-center px-3">
        <div class="col-md-4 col-sm-6 col-6 position-relative">
            <img alt="man-market-banners" class="w-100" src="{% static 'img/4.banner.jpg' %}">
            <div class="d-flex justify-content-around align-items-baseline flex-wrap">
                <p class="title-banner">کامپیوتر</p>
                <a href="#"><button class="btn-tv btn-for-computer ">اکنون خرید کنید</button></a>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 position-relative">
            <img alt="man-market-banners" class="w-100" src="{% static 'img/3.banner.jpg' %}">
            <div class="d-flex justify-content-between align-items-center text-center flex-wrap">
                <p class="title-banner">دوربین مدار بسته</p>
                <a href="#"><button class="btn-tv btn-for-camera-x ">اکنون خرید کنید</button></a>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 position-relative">
            <img alt="man-market-banners" class="w-100" src="{% static 'img/2.baner.jpg' %}">
            <div class="d-flex justify-content-between align-items-center text-center">
                <p class="title-banner">دوربین عکاسی</p>
                <a href="#"><button class="btn-tv btn-for-camera ">اکنون خرید کنید</button></a>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 position-relative">
            <img alt="man-market-banners" class="w-100" src="{% static 'img/2.baner.jpg' %}">
            <div class="d-flex justify-content-between align-items-center text-center">
                <p class="title-banner">دوربین عکاسی</p>
                <a href="#"><button class="btn-tv btn-for-camera ">اکنون خرید کنید</button></a>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 position-relative">
            <img alt="man-market-banners" class="w-100" src="{% static 'img/2.baner.jpg' %}">
            <div class="d-flex justify-content-between align-items-center text-center">
                <p class="title-banner">دوربین عکاسی</p>
                <a href="#"><button class="btn-tv btn-for-camera ">اکنون خرید کنید</button></a>
            </div>
        </div>
    </section>
    <!--top banner :: end--------------->



<!--product slider :: start---------->
    <section class="slider container" id="slider">
        {% show_latest_products %}

    </section>
<!--product slider :: end------------>


<!--timer banner :: start------->

<!--timer banner :: end--------->



<!-- blog img :: start----->
{% latestpost %}
<!-- blog img :: end------->



<!--gray scale logo :: start-->
    <section class="container row mt-5 text-center">
        <h5 class="text-center mb-5">

            <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>
            <span class="px-2">برند ها </span>
            <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>
        </h5>
        <div class="col-md-3 col-sm-3 col-6 box-gray-logo"><img alt="logo-in-man-market" class="gray-logo" src="{% static 'img/test.1.avif' %}"></div>
        <div class="col-md-3 col-sm-3 col-6 box-gray-logo"><img alt="logo-in-man-market" class="gray-logo" src="{% static 'img/test.2.webp' %}"></div>
        <div class="col-md-3 col-sm-3 col-6 box-gray-logo"><img alt="logo-in-man-market" class="gray-logo" src="{% static 'img/test.3.webp' %}"></div>
        <div class="col-md-3 col-sm-3 col-6 box-gray-logo"><img alt="logo-in-man-market" class="gray-logo" src="{% static 'img/test.4.webp' %}"></div>
    </section>
<!--gray scale logo :: end---->


</main>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/slider.in.index.js' %}"></script>
{% endblock extra_js %}