{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load jformat %}

{% block title %}
سبک من
{% endblock title %}

{% block content %}
 
    {% include 'dashboard/customer/sidebar.html' %}
    <!-- Main Content Area -->
        <main class="profile-content-area-new">
            <section class="profile-section-new">
                <header class="section-header-new border-0">
                    <h2><svg><use xlink:href="#icon-heart-solid"></use></svg>سبک من</h2>
                </header>
                <div id="wishlistContainer" class="mt-3 d-flex justify-content-around flex-wrap align-items-center">
                {% for object in object_list %}
                    <div class="product-card-minimal col-md-5 mx-1 col-sm-5 px-2 col-12 my-2">
                        <img src="{{object.product.image.url}}" alt="" class="product-card-minimal-img">
                        <div class="product-card-minimal-info">
                            <h6>{{object.product.title}}</h6>
                            <p class="category-text">{{object.product.category}}</p>
                            <p class="price-text">{{object.product.get_min_price|intcomma}}<small>تومان</small></p>
                            <div class="product-card-minimal-actions d-flex gap-2">
                                <button type="submit" form="deleform" class="btn bg-cs py-1 px-1 py-2 px-2 fs-14">حذف</button>
                                <a href="{% url 'shop:product-detail' slug=object.product.slug %}"><button  class="btn theme-color py-1 px-1 py-2 px-2 text-light">مشاهده </button></a>
                            </div>
                        </div>
                    </div>
                    <form hidden action="{% url 'dashboard:customer:wishlist-delete' pk=object.pk %}" method="post" class="d-none" id="deleform">
                        {% csrf_token %}
                    </form>
                    {% endfor %}
                </div>
            </section>
        </main>
  </div>
</div>


{% include 'dashboard/customer/sidebar_2.html' %}
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/profile.js' %}"></script>

{% endblock extra_js %}