{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'dashboard/customer/sidebar.html' %}
<main class="profile-content-area-new">
    <form method="post" action="." class="profile-section-new">
        {% csrf_token %}
        <header class="section-header-new border-0">
            <h2><svg>
                    <use xlink:href="#icon-user-circle"></use>
                </svg>اطلاعات حساب</h2>
        </header>
        <div id="accountDetailsContainer">
            <div class="account-detail-row is-editable">
                <div class="account-detail-label">نام</div>
                <div class="account-detail-value-wrapper">
                    <span class="account-detail-value">{% if request.user.user_profile.first_name == "None" or request.user.user_profile.first_name == None %}{% else %}{{request.user.user_profile.first_name}}{% endif %}</span>
                    <div class="account-detail-input-wrapper">
                        <input type="text" class="form-control-custom" value="{% if request.user.user_profile.first_name == "None" or request.user.user_profile.first_name == None %}{% else %}{{request.user.user_profile.first_name}}{% endif %}"
                            name="first_name">
                    </div>
                    <div class="account-detail-actions">
                        <button type="button" class="edit-trigger-btn" title="ویرایش"><svg>
                                <use xlink:href="#icon-edit-pencil"></use>
                            </svg></button>
                        <div class="save-cancel-btns">
                            <button type="submit" class="save-btn" title="ذخیره"><svg>
                                    <use xlink:href="#icon-save-disk"></use>
                                </svg></button>
                            <button type="button" class="cancel-btn" title="لغو"><svg>
                                    <use xlink:href="#icon-cancel-circle"></use>
                                </svg></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="account-detail-row is-editable">
                <div class="account-detail-label">نام خانوادگی</div>
                <div class="account-detail-value-wrapper">
                    <span class="account-detail-value">{% if request.user.user_profile.last_name == "None" or request.user.user_profile.last_name == None %}{% else %}{{request.user.user_profile.last_name}}{% endif %}</span>
                    <div class="account-detail-input-wrapper">
                        <input type="text" class="form-control-custom" value="{% if request.user.user_profile.last_name == "None" or request.user.user_profile.last_name == None %}{% else %}{{request.user.user_profile.last_name}}{% endif %}"
                            name="last_name">
                    </div>
                    <div class="account-detail-actions">
                        <button type="button" class="edit-trigger-btn" title="ویرایش"><svg>
                                <use xlink:href="#icon-edit-pencil"></use>
                            </svg></button>
                        <div class="save-cancel-btns">
                            <button type="submit" class="save-btn" title="ذخیره"><svg>
                                    <use xlink:href="#icon-save-disk"></use>
                                </svg></button>
                            <button type="button" class="cancel-btn" title="لغو"><svg>
                                    <use xlink:href="#icon-cancel-circle"></use>
                                </svg></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="account-detail-row">
                <div class="account-detail-label">ایمیل</div>
                <div class="account-detail-value-wrapper">
                    <span class="account-detail-value">{{request.user.email}}</span>
                </div>
            </div>

            <div class="account-detail-row is-editable">
                <div class="account-detail-label">موبایل</div>
                <div class="account-detail-value-wrapper">
                    <span class="account-detail-value">{% if request.user.user_profile.phone_number == None or request.user.user_profile.phone_number == 'None' %}{% else %}{{request.user.user_profile.phone_number}}{% endif %}</span>
                    <div class="account-detail-input-wrapper">
                        <input type="tel" class="form-control-custom" value="{% if request.user.user_profile.phone_number == None or request.user.user_profile.phone_number == 'None' %}{% else %}{{request.user.user_profile.phone_number}}{% endif %}"
                            name="phone_number">
                    </div>
                    <div class="account-detail-actions">
                        <button type="button" class="edit-trigger-btn" title="ویرایش"><svg>
                                <use xlink:href="#icon-edit-pencil"></use>
                            </svg></button>
                        <div class="save-cancel-btns">
                            <button type="submit" class="save-btn" title="ذخیره"><svg>
                                    <use xlink:href="#icon-save-disk"></use>
                                </svg></button>
                            <button type="button" class="cancel-btn" title="لغو"><svg>
                                    <use xlink:href="#icon-cancel-circle"></use>
                                </svg></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
</div>
</div>

{% include 'dashboard/customer/sidebar_2.html' %}

<!-- <div class="wow-notification-container-new" id="notificationToastContainer"></div> -->

<div class="custom-overlay"></div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock extra_js %}