{% extends 'dashboard/admin/layout.html' %}
{% load static %}

{% block content %}
<div class="mt-6">
            <div class="card shadow-card rounded-lg">
                <div class="card-header text-white">
                    <h5 class="mb-0">جزئیات پیام دریافتی</h5>
                </div>
                <div class="card-body">
                    <div class="grid grid-cols-12 gap-x-4 mb-4">
                        <div class="col-span-12 md:col-span-6">
                            <label class="font-semibold">نام:</label>
                            <p class="text-slate-900">{{ contact.name }}</p>
                        </div>
                        <div class="col-span-12 md:col-span-6">
                            <label class="font-semibold">ایمیل:</label>
                            <p class="text-slate-900">{{ contact.email }}</p>
                        </div>
                    </div>

                    {% if contact.subject %}
                    <div class="mb-4">
                        <label class="font-semibold">موضوع:</label>
                        <p class="text-slate-900">{{ contact.subject }}</p>
                    </div>
                    {% endif %}

                    <div class="mb-4">
                        <label class="font-semibold">متن پیام:</label>
                        <div class="border border-slate-200 rounded-lg p-4 bg-slate-50" style="white-space: pre-line;">
                            {{ contact.message }}
                        </div>
                    </div>

                    <div class="text-slate-500 text-end">
                        <small>تاریخ ارسال: {{ contact.created_date|date:"Y-m-d H:i" }}</small>
                    </div>
                </div>

                <div class="card-footer flex justify-between">
                    <a href="{% url 'dashboard:admin:contact-list' %}" class="btn btn-secondary">بازگشت به لیست</a>
                    <a href="{% url 'dashboard:admin:contact-delete' contact.pk %}" class="btn btn-danger" >حذف پیام</a>
                </div>
            </div>
        </div>
    

{% endblock content %}