{% load static %}
<section class="blog ">

    <h5 class="text-center mb-4">

        <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>
        <span class="px-2">وبلاگ </span>
        <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>
    </h5>

    <div class="container">
        <div class="blog-container has-scrollbar">
            <div class="blog-card">
                <a href="#">
                    <img src="{% static 'img/blog.one' %}" alt="Clothes Retail KPIs 2023 Guide for Clothes Executives"
                        class="blog-banner" width="300">
                </a>

                <div class="blog-content">
                    <a href="blog.html" class="blog-category">بلاگ</a>
                    <a href="blog.html">
                        <h3 class="blog-title">معرفی گوشی جدید سامسونگ, انقلاب در دنیای تکنولوژی جهان</h3>
                    </a>
                </div>
            </div>


        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <a href="blog.html" class="btn rounded-3 theme-color text-light">
            دیدن همه
        </a>
    </div>
</section>

