{% load static %}
<section class="w-center py-2">
    <div class="d-flex justify-content-center flex-wrap">
        <a href="search.html" class="slide-item min-mr my-3 mx-3">
            <img src="{% static 'img/axe/phone.webp' %}" alt="موبایل">
            <div class="category-circle"></div>
            <p class="category-name">موبایل</p>
        </a>
        <a href="search.html" class="slide-item min-mr my-3 mx-3">
            <img src="{% static 'img/axe/laptop.webp' %}" alt="تبلت">
            <div class="category-circle"></div>
            <p class="category-name">تبلت</p>
        </a>
        <a href="search.html" class="slide-item min-mr my-3 mx-3">
            <img src="{% static 'img/laptop.webp' %}" alt="لپ تاپ">
            <div class="category-circle"></div>
            <p class="category-name">لپ تاپ</p>
        </a>
        <a href="search.html" class="slide-item min-mr my-3 mx-3">
            <img src="{% static 'img/axe/monitor.webp' %}" alt="مانیتور">
            <div class="category-circle"></div>
            <p class="category-name">مانیتور</p>
        </a>
        <a href="search.html" class="slide-item min-mr my-3 mx-3">
            <img src="{% static 'img/axe/console.webp' %}" alt="کنسول بازی">
            <div class="category-circle"></div>
            <p class="category-name">کنسول بازی</p>
        </a>
        <a href="search.html" class="slide-item min-mr my-3 mx-3">
            <img src="{% static 'img/axe/speeker.webp' %}" alt="اسپیکر">
            <div class="category-circle"></div>
            <p class="category-name">اسپیکر</p>
        </a>
        <a href="search.html" class="slide-item min-mr my-3 mx-3">
            <img src="{% static 'img/axe/hedset.webp' %}" alt="هدست هدفون">
            <div class="category-circle"></div>
            <p class="category-name">هدست هدفون</p>
        </a>
        <a href="search.html" class="slide-item min-mr my-3 mx-3">
            <img src="{% static 'img/axe/acssesory.webp' %} " alt="ساعت هوشمند">
            <div class="category-circle"></div>
            <p class="category-name">ساعت هوشمند</p>
        </a>
        <a href="search.html" class="slide-item min-mr my-3 mx-3">
            <img src="{% static 'img/axe/acssesory2.webp' %}" alt="لوازم جانبی">
            <div class="category-circle"></div>
            <p class="category-name">لوازم جانبی</p>
        </a>
    </div>
</section>