{% load static %}
<section class="swiper mySwiper px-3 mt-5 main-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide one-bg">
            <img alt="product-slider" src="{% static 'img/1.slider.png'%}" />
            <div class="slide-text2">مجموعه جدید کنسول بازی</div>
            <h6 class="slide-text">زمان بازی است</h6>
            <a href="{% url 'shop:product-list' %}?category=game-console"><button class="shop-now">اکنون خرید
                    کنید</button></a>
        </div>
        <div class="swiper-slide two-bg">
            <img alt="product-slider" src="{% static 'img/2.slider.png'%}" />
            <div class="slide-text2">مجموعه جدید لپ تاپ</div>
            <h6 class="slide-text">استعداد شما علاقه ما</h6>
            <a href="{% url 'shop:product-list' %}?category=laptop"><button class="shop-now">اکنون خرید
                    کنید</button></a>
        </div>
        <div class="swiper-slide three-bg">
            <img alt="product-slider" src="{% static 'img/ghoshi.webp'%}" />
            <div class="slide-text2">مجموعه جدید موبایل</div>
            <h6 class="slide-text">متفاوت فکر کن</h6>
            <a href="{% url 'shop:product-list' %}?category=phone"><button class="shop-now">اکنون خرید
                    کنید</button></a>
        </div>
    </div>
    <div class="swiper-button-next next"></div>
    <div class="swiper-button-prev prev"></div>
    <div class="swiper-pagination"></div>
</section>