{% load static %}
<div class="row product-tabs-section w-center row ">
    <div class="col-12 w-center ">
        <ul class="nav nav-tabs b-none w-center justify-content-center cs-mb" id="productTab" role="tablist">
            <li class="nav-item" role="presentation"><button class=" active text-nowrap" id="description-tab"
                    data-bs-toggle="tab" data-bs-target="#descriptionPane" type="button" role="tab"
                    aria-controls="descriptionPane" aria-selected="true">بیشترین فروش</button></li>
            <li class="nav-item" role="presentation"><button class="text-nowrap" id="specifications-tab"
                    data-bs-toggle="tab" data-bs-target="#specificationsPane" type="button" role="tab"
                    aria-controls="specificationsPane" aria-selected="false">بیشترین بازدید</button></li>
            <li class="nav-item" role="presentation"><button class="text-nowrap" id="reviews-tab" data-bs-toggle="tab"
                    data-bs-target="#reviewsPane" type="button" role="tab" aria-controls="reviewsPane"
                    aria-selected="false">بیشترین تخفیف</button></li>
        </ul>
        <div class="tab-content container p-0" id="productTabContent">
            <div class="tab-pane fade show active" id="descriptionPane" role="tabpanel"
                aria-labelledby="description-tab">
                <!--product slider :: start--------->

                <!--product slider :: end------------>
            </div>


            <div class="tab-pane fade" id="specificationsPane" role="tabpanel" aria-labelledby="specifications-tab">
                <!--product slider :: start--------->

                <!--product slider :: end------------>
            </div>


            <div class="tab-pane fade" id="reviewsPane" role="tabpanel" aria-labelledby="reviews-tab">
                <!--product slider :: start--------->

                <!--product slider :: end------------>
            </div>


        </div>
    </div>
</div>