{% extends 'base.html' %}
{% load static %}


{% block title %}
    ایجاد آدرس جدید
{% endblock title %}
    

{% block content %}
<div class="row">
    {% include 'dashboard/customer/sidebar.html' %}
    <main class="profile-content-area-new">
        <section class="profile-section-new">
            <header class="section-header-new border-0">
                <h2><svg>
                        <use xlink:href="#icon-map-pin"></use>
                    </svg>آدرس‌های من</h2>
            </header>

            <div id="addressesListContainer" class="mt-4">
                <!-- STATIC: Addresses are hardcoded. JS only handles visual toggles. -->

                <div class="rounded-3 container">
                    <form action="." method="post">
                        {% csrf_token %}
                        <div style="display: flex; justify-content: space-between;">
                            <div style="width: 50%;">
                                <label for="as" class="ws-cs-label my-1 fs-14">نام و نام خانوادگی گیرنده</label>
                                {{ form.name }}
                            </div>
                            <div style="width: 50%;">
                                <label for="as" class="ws-cs-label my-1 fs-14">شماره موبایل گیرنده</label>
                                {{ form.phone_number }}
                            </div>
                        </div>
                        <label for="as" class="ws-cs-label my-1 fs-14">استان مورد نظر خود را بنویسید</label>
                        {{ form.state }}
                        <label for="amount" class="ws-cs-label my-1 fs-14">شهر مورد نظر خود را بنویسید</label>
                        {{ form.city }}
                        <label for="df" class="ws-cs-label  my-1 fs-14">کد پستی</label>
                        {{ form.zip_code }}
                            
                        <label for="addressLine1Input" class="form-label-custom my-1 fs-14">جزئیات آدرس</label>
                        <textarea id="hghg" name="address" class="ws-cs-input form-label-custom" rows="3"
                            placeholder="خیابان، کوچه، پلاک..."></textarea>
                        <button type="submit" class="theme-color text-light rounded-3">ثبت آدرس جدید</button>
                    </form>
                </div>

            </div>
        </section>
    </main>
</div>
</div>
</div>
{% include 'dashboard/customer/sidebar_2.html' %}

{% endblock %}

