{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="row">
    {% include 'dashboard/customer/sidebar.html' %}
    <main class="profile-content-area-new">
        <section class="profile-section-new">
            <header class="section-header-new border-0">
                <h2><svg>
                        <use xlink:href="#icon-map-pin"></use>
                    </svg>آدرس‌های من</h2>
            </header>

            <div id="addressesListContainer" class="mt-4">
                <!-- STATIC: Addresses are hardcoded. JS only handles visual toggles. -->

                <div class="rounded-3 container">
                    <form action="." method="post">
                        {% csrf_token %}
                        <label for="as" class="ws-cs-label">استان</label>
                        {{form.state}}
                        <label for="amount" class="ws-cs-label">شهر</label>
                        {{form.city}}
                        <label for="df" class="ws-cs-label">کد پستی</label>
                        {{form.zip_code}}
                        <label for="addressLine1Input" class="form-label-custom">آدرس کامل</label>
                        {{form.address}}


                        <button type="submit" class="theme-color text-light rounded-3">ویرایش آدرس</button>
                    </form>
                </div>

            </div>
        </section>
    </main>
    </div>
    </div>
    
    {% endblock %}