asgiref==3.8.1
Django==4.2.20
django-debug-toolbar==4.2.0
idna==3.6
pillow==10.2.0
psycopg==3.1.12
psycopg-binary==3.1.12
python-decouple==3.8
sqlparse==0.5.3
typing_extensions==4.13.0
bs4==0.0.2
selenium==4.32.0
webdriver-manager==4.0.2
django-jalali
django-allauth
PyJWT
cryptography
django-robots
celery
Redis
django-celery-beat
django-redis