{% extends 'base.html' %}
{% load static %}

{% block title %}
    login
{% endblock title %}
    

{% block content %}
    

    



<main class="login d-flex justify-content-center align-items-center">


<!------------    login form :::::: start--------->
<form action="{% url 'accounts:login' %}" method="post" class="px-2 py-3 d-flex justify-content-center flex-column align-items-center my-5">
    <!--    title in login box start-->
    {% csrf_token %}
        <div>
            <h5 class="text-center my-3">
                <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>
                <span class="px-2">ورود</span>
                <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>
            </h5>
        </div>
    <!--    title in login box end---->

    <!--caption in login form start-->
        <div class="my-2">
            <p class="custom-text">
                لطفا جزئیات حساب خودرا وارد کنید
            </p>
        </div>
    <!--caption in login form end---->

        <!--name input start-------->
        <label class="w-100 px-3 my-1">
            ایمیل
            <input type="text" name="username" class="form-control custom-text my-3 py-2" placeholder="ایمیل خود را وارد کنید">
        </label>
        <!--name input end---------->

        <!--email input start-------->
        <label class="w-100 px-3 my-1">
            رمز ورود
            <input type="password" name="password" class="form-control custom-text my-3 py-2" placeholder="رمز خود را وارد کنید">
        </label>
        <!--email input end---------->

    <!--more in login form start----->
        <button type="submit" class="btn-tv px-5">
            ورود
        </button>
        <div class="d-flex justify-content-center flex-column my-3">
            <a class="custom-text my-1" href="forget.pass.html">رمز خود را فراموش کردید؟</a>
            <p class="my-2 h6"> تا حالا حسابی درست نکرده اید</p>
            <a class="custom-text my-1" href="{% url 'accounts:register' %}">تشکیل اکانت؟</a>
        </div>
    <!--more in login form end------->

</form>
<!------------    login form :::::: end----------->

</main>

{% endblock content %}