{% extends 'base.html' %}
{% load static %}

{% block title %}
login
{% endblock title %}


{% block content %}






<main class="login d-flex justify-content-center align-items-center">


    <!------------    login form :::::: start--------->
    <form class="px-2 py-3 d-flex justify-content-center flex-column align-items-center my-5">
        <!--    title in login box start-->
        {% csrf_token %}
        <div>
            <h5 class="text-center my-3">
                <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>
                <span class="px-2">بازیابی رمز</span>
                <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>

                <span class="px-2">با موفقیت انجام شد</span>

            </h5>
        </div>
        <!--    title in login box end---->

        <!--name input start-------->

        <!--name input end---------->


        <!--more in login form start----->
        <a href="{% url 'website:index' %}" class="theme-color px-5" style="border-radius: 20px;color: white;">
            بازگشت به سایت
        </a>
        <!--more in login form end------->

    </form>
    <!------------    login form :::::: end----------->

</main>

{% endblock content %}