{% extends 'base.html' %}
{% load static %}

{% block title %}
login
{% endblock title %}


{% block content %}






<main class="login d-flex justify-content-center align-items-center">


    <!------------    login form :::::: start--------->
    <form class="px-2 py-3 d-flex justify-content-center flex-column align-items-center my-5">
        <!--    title in login box start-->
        {% csrf_token %}
        <div>
            <h5 class="text-center my-3">
                <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>
                <span class="px-2">ایمیل ارسال شد</span>
                <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>

                <span class="px-2">صندوق دریافتی خود را چک کنید. </span>

            </h5>
        </div>
        <!--    title in login box end---->

        <!--caption in login form start-->
        <div class="my-2">
            <p class="custom-text">
                ایمیل با موفقیت برای شما ارسال شد ,
                زمان اعتبار لینک 48 ساعت میباشد.
            </p>
        </div>
        <!--caption in login form end---->




        <!--more in login form start----->
        <a href="{% url 'website:index' %}" class="theme-color px-5" style="border-radius: 20px;color: white;">
            ارسال ایمیل
        </a>

        <!--more in login form end------->

    </form>
    <!------------    login form :::::: end----------->

</main>

{% endblock content %}