{% extends 'base.html' %}
{% load static %}
{% block title %}ثبت نام{% endblock title %}
{% block content %}
                                                                                                    

<main class="login d-flex justify-content-center align-items-center">


<!------------    login form :::::: start--------->
<form action="{% url 'accounts:register' %}" method="post" class="px-2 py-3 d-flex justify-content-center flex-column align-items-center my-5">
       {% csrf_token %}
        <div>
            <h5 class="text-center my-3">
                <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>
                <span class="px-2">ثبت نام</span>
                <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>
            </h5>
        </div>
    <!--    title in login box end---->

    <!--caption in login form start-->
        <div class="my-2">
            <p class="custom-text">
                لطفا جزئیات لازم را وارد کنید
            </p>
        </div>
    <!--caption in login form end---->

    <!--email input start-------->
        <label class="w-100 px-3 my-1">
            ایمیل
            <input type="email" name="email" class="form-control custom-text my-2 py-2" placeholder="ایمیل خود را وارد کنید">
        </label>

    <!--email input end---------->

    <!--password input start-------->
        <label class="w-100 px-3 my-1">
            رمزی برای خودتان انتخاب کنید
            <input type="password" name="password1" class="form-control custom-text my-2 py-2" placeholder="رمز خود را وارد کنید">
        </label>
    <!--password input end---------->

    <!--password input start-------->
        <label class="w-100 px-3 my-1">
            تکرار رمز
            <input type="password" name="password2" class="form-control custom-text my-2 py-2" placeholder="رمز خود را وارد کنید">
        </label>
    <!--password input end---------->

    <!--more in login form start----->
        <button type="submit" class="btn-tv px-5">
            ثبت نام
        </button>
        <div class="d-flex justify-content-center flex-column my-3">
            <p class="my-2 h6">از قبل حساب دارید؟</p>
            <a class="custom-text my-1" href="{% url 'accounts:login' %}">ورود</a>
        </div>
    

</form>
<!------------    login form :::::: end----------->

</main>



{% endblock content %}