{% extends 'base.html' %}
{% load static %}
{% block title %}ثبت نام{% endblock title %}
{% block content %}

<div style="display: none !important;" class="sidebar has-scrollbar">

    <div class="sidebar-category">
        <div class="sidebar-top">
            <h2 class="sidebar-title">دسته بندی</h2>

            <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                <ion-icon name="close-outline"></ion-icon>
            </button>
        </div>

        <ul class="sidebar-menu-category-list">
            <li class="sidebar-menu-category">
                <button class="sidebar-accordion-menu" data-accordion-btn>
                    <div class="menu-title-flex">
                        <p>لباس </p>
                    </div>
                    <div>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>
                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>
                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="product-name">تی شرت</p>
                            <data value="300" class="stock" title="Available Stock">300</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="product-name">اجناس برند</p>
                            <data value="60" class="stock" title="Available Stock">60</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="product-name">ژاکت</p>
                            <data value="50" class="stock" title="Available Stock">50</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="product-name">زنانه</p>
                            <data value="87" class="stock" title="Available Stock">87</data>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-menu-category">
                <button class="sidebar-accordion-menu" data-accordion-btn>
                    <div class="menu-title-flex">
                        <p class="menu-title">دیجیتال</p>
                    </div>

                    <div>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>
                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>
                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="product-name">لب تاب</p>
                            <data value="45" class="stock" title="Available Stock">45</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="product-name">هندزفری</p>
                            <data value="75" class="stock" title="Available Stock">75</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="product-name">هدفون</p>
                            <data value="35" class="stock" title="Available Stock">35</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="product-name">اپل واچ</p>
                            <data value="26" class="stock" title="Available Stock">26</data>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-menu-category">
                <button class="sidebar-accordion-menu" data-accordion-btn>
                    <div class="menu-title-flex">
                        <p class="menu-title">اسباب بازی</p>
                    </div>

                    <div>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>
                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>
                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="product-name">پسرانه</p>
                            <data value="46" class="stock" title="Available Stock">46</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="product-name">دخترانه</p>
                            <data value="73" class="stock" title="Available Stock">73</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="product-name">زیر 10 سال</p>
                            <data value="61" class="stock" title="Available Stock">61</data>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="sidebar-menu-category">
                <button class="sidebar-accordion-menu" data-accordion-btn>
                    <div class="menu-title-flex">
                        <p class="menu-title">لوازم جانبی</p>
                    </div>

                    <div>
                        <ion-icon name="add-outline" class="add-icon"></ion-icon>
                        <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>
                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>
                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="product-name">موبایل</p>
                            <data value="12" class="stock" title="Available Stock">12 pcs</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="product-name">لب تاب</p>
                            <data value="60" class="stock" title="Available Stock">60 pcs</data>
                        </a>
                    </li>

                    <li class="sidebar-submenu-category">
                        <a href="#" class="sidebar-submenu-title">
                            <p class="product-name">کیف</p>
                            <data value="50" class="stock" title="Available Stock">50 pcs</data>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="product-showcase">
        <h3 class="showcase-heading">بهترین های این هفته</h3>

        <div class="showcase-wrapper s-img">
            <div class="showcase-container">
                <div class="showcase">
                    <a href="#" class="showcase-img-box">
                        <img src="{% static 'img/K.F.1.png'%}" alt="baby fabric shoes" class="showcase-img" width="75" height="75">
                    </a>

                    <div class="showcase-content">
                        <a href="#"><h4 class="showcase-title">کفش دخترانه</h4></a>

                        <div class="showcase-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </div>

                        <div class="price-box">
                            <p class="price">350 هزار تومان</p>
                        </div>
                    </div>
                </div>

                <div class="showcase">
                    <a href="#" class="showcase-img-box">
                        <img src="{% static 'img/T.S.1.png'%}" alt="men's hoodies t-shirt" class="showcase-img" width="75" height="75">
                    </a>

                    <div class="showcase-content">
                        <a href="#"><h4 class="showcase-title">تیشرت مردانه</h4></a>

                        <div class="showcase-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </div>

                        <div class="price-box">
                            <p class="price">300 هزار تومان </p>
                        </div>
                    </div>
                </div>

                <div class="showcase">
                    <a href="#" class="showcase-img-box">
                        <img src="{% static 'img/GT.S.1.png'%}" alt="girls t-shirt" class="showcase-img" width="75" height="75">
                    </a>

                    <div class="showcase-content">
                        <a href="#"><h4 class="showcase-title">تیشرت دخترانه</h4></a>

                        <div class="showcase-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </div>

                        <div class="price-box">
                            <p class="price">300 هزار تومان </p>
                        </div>
                    </div>
                </div>

                <div class="showcase">
                    <a href="#" class="showcase-img-box">
                        <img src="{% static 'img/H.T.1.webp'%}" alt="woolen hat for men" class="showcase-img" width="75" height="75">
                    </a>

                    <div class="showcase-content">
                        <a href="#"><h4 class="showcase-title">کلاه اسپرت</h4></a>

                        <div class="showcase-rating">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                        </div>

                        <div class="price-box">
                            <p class="price">120 هزار تومان</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--search modal __ :: start-->
<section class="search-box">
    <span class="close-modal mx-5">
         <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="1em"
            height="1em"
             >
             <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="square"
              stroke-linejoin="round"
              d="M18 6L6 18M6 6l12 12"
             ></path>
         </svg>
    </span>
    <h5 class="py-3 text-center">دنبال چی میگردی ؟</h5>
    <form class="text-center position-relative container">
        <input class="form-control my-inp" type="search" placeholder="مثلا آیفون 16 ">
        <div>
            <button class="sub-btn" type="submit">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 32 32"
                    width="1em"
                    height="1em"
            >
                <path
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m28 27l-7.5-7.5M5 13a9 9 0 1 0 18 0a9 9 0 0 0-18 0"
                ></path>
            </svg></button>
        </div>
    </form>
</section>
<!--search modal __ :: end---->




<main class="login d-flex justify-content-center align-items-center">


<!------------    login form :::::: start--------->
<form action="{% url 'accounts:register' %}" method="post" class="px-2 py-3 d-flex justify-content-center flex-column align-items-center my-5">
       {% csrf_token %}
        <div>
            <h5 class="text-center my-3">
                <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>
                <span class="px-2">ثبت نام</span>
                <span style="color: red;letter-spacing: -4px;font-size: 20px">------</span>
            </h5>
        </div>
    <!--    title in login box end---->

    <!--caption in login form start-->
        <div class="my-2">
            <p class="custom-text">
                لطفا جزئیات لازم را وارد کنید
            </p>
        </div>
    <!--caption in login form end---->

    <!--email input start-------->
        <label class="w-100 px-3 my-1">
            ایمیل
            <input type="email" name="email" class="form-control custom-text my-2 py-2" placeholder="ایمیل خود را وارد کنید">
        </label>

    <!--email input end---------->

    <!--password input start-------->
        <label class="w-100 px-3 my-1">
            رمزی برای خودتان انتخاب کنید
            <input type="password" name="password1" class="form-control custom-text my-2 py-2" placeholder="رمز خود را وارد کنید">
        </label>
    <!--password input end---------->

    <!--password input start-------->
        <label class="w-100 px-3 my-1">
            تکرار رمز
            <input type="password" name="password2" class="form-control custom-text my-2 py-2" placeholder="رمز خود را وارد کنید">
        </label>
    <!--password input end---------->

    <!--more in login form start----->
        <button type="submit" class="btn-tv px-5">
            ثبت نام
        </button>
        <div class="d-flex justify-content-center flex-column my-3">
            <p class="my-2 h6">از قبل حساب دارید؟</p>
            <a class="custom-text my-1" href="{% url 'accounts:login' %}">ورود</a>
        </div>
    

</form>
<!------------    login form :::::: end----------->

</main>



{% endblock content %}