{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>Chat UI</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/chats.css' %}">
</head>

<body style="background-color: #fff;">
    <div class="chat-container">
        <div class="chat-overlay" id="chatOverlay"></div>

        <div class="chat-list" id="chatList">
            <div class="search-bar">
                <a href="{% url 'dashboard:admin:chat-list' %}">بازگشت</a>
            </div>
            {% for chat in chats %}
            <a href="{% url 'dashboard:admin:chat_room_send' chat.pk %}" class="chat-item {% if chat.id == chat_room.id %}active{% endif %}">
                <img src="{{ chat.product.image.url }}" alt="{{ chat.product.title }}" class="avatar">
                <div class="chat-info">
                    <span class="chat-name">{{ chat.product.title }}</span>
                    <span class="last-message">{{ chat.chat_messages.last.text|truncatechars:40 }}</span>
                </div>
                {% if not chat.last_message_from_admin %}
                    <span class="unread-count">1</span>
                {% endif %}
            </a>
            {% endfor %}
        </div>
        <div class="chat-main">
            <div class="chat-header">
                <div class="mobile-menu-icon" id="mobileMenuIcon">
                    <svg fill="currentColor" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
                    </svg>
                </div>
                <a href="{{ chat.product.get_absolute_url }}" target="_blank" class="user-info">
                    <img src="{{ chat.product.image.url }}" alt="{{ chat.product.title }}" class="avatar">
                    <span style="white-space: normal; padding: 0 22px;" class="user-name">{{ chat.product.title }}</span>
                    <span class="status online">آنلاین</span>
                </a>
                <div class="header-actions">
                </div>
            </div>
            <div class="message-area" id="messageArea">
            {% for msg in messages %}
                <div class="message {% if msg.sender.type == 2 or msg.sender.type == 3 %}sent{% else %}received{% endif %}">
                    <span class="message-sender">
                        {% if msg.sender.type == 2 or msg.sender.type == 3 %}پشتیبان :{% else %}کاربر :{% endif %} {{ msg.sender.user_profile.get_fullname }}
                    </span>
                    <p>{{ msg.text }}</p>
                    <span class="message-time">{{ msg.timestamp|date:"H:i" }}</span>
                </div>
            {% empty %}
                <p>هنوز پیامی وجود ندارد.</p>
            {% endfor %}
                <button class="scroll-to-bottom-btn" id="scrollToBottomBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="1em" height="1em">
                        <path fill="none" stroke="currentColor" stroke-Linecap="round" stroke-Linejoin="round"
                            stroke-Width="2" d="M30 12L16 24L2 12"></path>
                    </svg>
                </button>
            </div>
            <form class="message-input-area"  method="post">
                {% csrf_token %}
                <textarea name="text" placeholder="پیام خود را بنویسید..." name="messageContent"></textarea>
                <button type="submit">
                    <svg fill="currentColor" viewBox="0 0 24 24" width="24" height="24">
                        <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" />
                    </svg>
                </button>
            </form>
        </div>
    </div>

    <script src="{% static 'js/chat.js' %}"></script>
</body>

</html>

