{% extends 'dashboard/admin/layout.html' %}
{% load static %}

{% block content %}
<div class="mt-6">
            <div class="card shadow-card rounded-lg">
                <div class="card-header text-white">
                    <h5 class="mb-0" >جزئیات چت {{ object.product }}</h5>
                </div>
                <div class="card-body">
                    <div class="grid grid-cols-12 gap-x-4 mb-4">
                        <div class="col-span-12 md:col-span-6">
                            <label class="font-semibold">کاربر:</label>
                            <p class="text-slate-900">{{ object.customer.user_profile.get_fullname }}</p>
                        </div>
                        <div class="col-span-12 md:col-span-6">
                            <label class="font-semibold">ادمین:</label>
                            <p class="text-slate-900">{{ object.admin.email }}</p>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label class="font-semibold">ایمیل کاربر:</label>
                        <p class="text-slate-900">{{ object.customer }}</p>
                    </div>

                    <div class="mb-4">
                        <label class="font-semibold">پیام ها:</label>
                        <div class="border border-slate-200 rounded-lg p-4 bg-slate-50" style="white-space: pre-line;">
                            
                            {% for message in object.chat_messages.all %}
                                {{message}}
                            {% endfor %}
                                
                        </div>
                    </div>

                    <div class="text-slate-500 text-end">
                        <small>تاریخ ارسال: {{ object.created_at|date:"Y-m-d H:i" }}</small>
                    </div>
                </div>

                <div class="card-footer flex justify-between">
                    <a href="{% url 'dashboard:admin:chat-list' %}" class="btn btn-secondary">بازگشت به لیست</a>
                    <a href="" class="btn btn-danger" >حذف پیام</a>
                </div>
            </div>
        </div>
    

{% endblock content %}