{% extends 'dashboard/admin/layout.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<style>
    .small-primary-button {
        padding: 3px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 10px;
        border-radius: 5px;
    }

    .small-primary-button:hover,
    .small-primary-button:focus {
        background-color: #0056b3;
    }
</style>
{% endblock %}

{% block content %}
<div>
            <div class="card mb-6">
                <!-- Header -->
                <div class="card-header flex justify-between items-center">
                    <h5 class="card-header-title">ویرایش محصول</h5>
                    {% if object.pricespecification %}
                        <a href="{% url 'dashboard:admin:specification-edit' pk=object.pricespecification.id %}">
                            مشخصات
                        </a>
                    {% else %}
                        <span style="color: red;">مشخصات ثبت نشده است</span>
                    {% endif %}
                    {% if object.is_published %}
                    <a class="btn btn-primary btn-sm" target="_blank" href="">نمایش
                        محصول</a>
                    {% endif %}
                </div>
                <!-- End Header -->

                <!-- Body -->
                <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="grid grid-cols-12 gap-x-4 flex">
                            <div class="col-span-12 md:col-span-6 mb-4">
                                <label>نام محصول</label>
                                {{form.title}}
                            </div>
                            <div class="col-span-12 md:col-span-6 mb-4">
                                <label>slug محصول - <button class="small-primary-button" type="button" onclick="generateSlug()">ساخت
                                        slug</button> </label>
                                {{form.slug}}
                            </div>

                            <div class="col-span-12 md:col-span-6 mb-4">
                                <label>وضعیت</label>
                                {{form.status}}
                            </div>
                            <div class="col-span-12 md:col-span-6 mb-4">
                                <label>دسته بندی</label>
                                {{form.category}}
                            </div>

                            <div class="col-span-12 md:col-span-6 mb-4">
                                <label> برند</label>
                                {{form.brand}}
                            </div>
                            <div class="col-span-12 md:col-span-6 mb-4">
                                <label>گارانتی </label>
                                {{form.warranty}}
                            </div>
                            <div class="col-span-12 md:col-span-6 mb-4">
                                <label>تایتل کوچولو </label>
                                {{form.brief_title}}
                            </div>
                            <div class="col-span-12 md:col-span-6 mb-4">
                                <label>متا تایتل</label>
                                {{form.meta_title}}
                            </div>
                            <div class="col-span-12 md:col-span-6 mb-4">
                                <label>متا دیسکریپشن</label>
                                {{form.meta_description}}
                            </div>
                            <div class="col-span-12 mb-4">
                                <label>توضیح کوتاه</label>
                                {{form.brief_description}}
                            </div>
                            <div class="col-span-12 mb-4">
                                <label>توضیحات</label>
                                {{form.description}}
                            </div>

                            <div class="col-span-12 mb-4">
                                <label for="validationValidFileInput1">تصویر محصول</label>
                                {{form.image}}
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="flex pt-6 justify-end">
                                <a class="btn btn-danger" href="{% url 'dashboard:admin:product-delete' pk=object.pk %}">حذف</a>
                                <a class="btn btn-secondary" href="{% url 'dashboard:admin:product-list' %}">بازگشت</a>
                                <button class="btn btn-primary" type="submit">ثبت تغییرات</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
        <div>
            <div class="card">
                <!-- Header -->
                <div class="card-header flex justify-between items-center">
                    <h5 class="card-header-title">ویرایش تصاویر بیشتر</h5>
                </div>
                <!-- End Header -->

                <!-- Body -->
                <form action="{% url 'dashboard:admin:product-add-image' pk=object.pk %}" method="post"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="grid grid-cols-12 gap-x-4 flex items-center">
                            <div class="col-span-12 md:col-span-9 mb-4 flex items-center">
                                <label>تصاویر محصول</label>
                                <input type="file" name="files" multiple accept="image/png, image/webp, image/jpg, image/jpeg">
                            </div>
                            <div class="col-span-12 md:col-span-9 mb-4 flex items-center">
                                <label>رنگ</label>
                                {{ image_form.color }}
                            </div>
                            <div class="col-span-12 md:col-span-3 mb-4">
                                <button class="btn btn-primary" type="submit">ثبت تصاویر</button>
                            </div>
                        </div>
                    </div>
                </form> 

                <div class="card-body"> 
                    <div class="grid grid-cols-12 gap-x-4 flex">
                        {% for product_image in object.product_images.all %}
                        <div class="col-span-12 md:col-span-2">
                            <img class="max-w-full h-auto" style="width:100px; height:100px" src="{{product_image.file.url}}" alt="Image Description">
                            <h5>{{product_image.color}}</h5>

                            <!-- فرم حذف -->
                            <form action="{% url 'dashboard:admin:product-remove-image' pk=object.pk image_id=product_image.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">حذف تصویر</button>
                            </form>

                            <!-- فرم تغییر رنگ -->
                        <form action="{% url 'dashboard:admin:product-update-image-color' pk=object.pk image_id=product_image.pk %}" method="post">
                            {% csrf_token %}
                            <select name="color" >
                                {% for val, label in image_form.fields.color.choices %}
                                    <option value="{{ val }}" {% if val == product_image.color_id %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-warning btn-sm mt-1">تغییر رنگ</button>
                        </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <div >
            <div class="card mb-6">
                <!-- Header -->
                <div class="card-header flex justify-between items-center">
                    <h5 class="card-header-title">رنگ های محصول</h5>
                    <a class="btn btn-primary" href="{% url 'dashboard:admin:product-add-color' pk=object.pk %}">افزودن
                        رنگ</a>
                </div>
                <!-- End Header -->
                <div class="table-wrap">
                    <table class="table stack">
                        <thead >
                            <tr>
                                <th scope="col">رنگ </th>
                                <th scope="col">کد رنگ </th>
                                <th scope="col">قیمت</th>
                                <th scope="col">تخفیف</th>
                                <th scope="col">تعداد</th>
                                <th scope="col">قیمت نمایش</th>
                                <th scope="col">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for color_inventor in object.color_inventories.all %}
                            <tr>
                                <th scope="row" data-label="رنگ">{{color_inventor.color}}</th>
                                <td data-label="کد رنگ">{{color_inventor.hex_color}}</td>
                                <td data-label="قیمت">{{color_inventor.price|intcomma}}</td>
                                <td data-label="تخفیف">{{color_inventor.discount_percent}}%</td>
                                <td data-label="تعداد">{{color_inventor.stock}}</td>
                                <td data-label="قیمت نمایش">{{color_inventor.get_price|intcomma}}</td>

                                <td class="flex" data-label="عملیات">
                                    <a class="btn btn-ghost-secondary btn-sm" href="{% url 'dashboard:admin:product-edit-color' pk=color_inventor.id prduct_pk=object.pk %}"><svg class="i h-4 w-4" viewBox="0 0 24 24"><use href="#i-edit"/></svg><span>ویرایش</span></a>
                                    
                                    {% if object.is_published %}
                                    <a class="btn btn-ghost-primary btn-sm" target="_blank" href="{% url 'dashboard:admin:product-color-delete' pk=color_inventor.id prduct_pk=object.pk %}"><svg class="i h-4 w-4" viewBox="0 0 24 24"><use href="#i-trash"/></svg><span>حذف</span></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
<script>
    function generateSlug() {
        const title = document.getElementById("id_title").value;
        const slug = slugify(title);
        document.getElementById("id_slug").value = slug;
    }

function slugify(titleStr) {
    titleStr = titleStr.trim();

    // حذف نیم‌فاصله
    titleStr = titleStr.replace(/\u200C/g, '');

    // تبدیل نقطه به /
    titleStr = titleStr.replace(/\./g, '/');

    // حذف کاراکترهای غیرمجاز (فقط حروف فارسی، انگلیسی، اعداد، فاصله، /، -)
    titleStr = titleStr.replace(/[^a-zA-Z0-9ءاأإآؤئبپتثجچحخدذرزژسشصضطظعغفقکگلمنوهیيةى\s/-]/g, '');

    // تبدیل فاصله به -
    titleStr = titleStr.replace(/\s+/g, '-');

    // حذف - های تکراری
    titleStr = titleStr.replace(/-+/g, '-');

    // حذف - های ابتدا و انتها
    titleStr = titleStr.replace(/^-+|-+$/g, '');

    return titleStr;
}

</script>

{% endblock %}

{% block extra_js_no_compress %}
<script src="{% static 'vendor/ckeditor/ckeditor.js' %}"></script>
<script>
    // Replace 'editor' with the id of your textarea
    CKEDITOR.replace('ckeditor');
</script>
{% endblock %}