{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
<style>
    .small-primary-button {
        padding: 3px 10px;
        background-color: #007bff; 
        color: white; 
        border: none; 
        cursor: pointer; 
        font-size: 10px;
        border-radius: 5px; 
    }
    
    .small-primary-button:hover,
    .small-primary-button:focus {
        background-color: #0056b3;
    }
</style>

{% endblock %}



{% block content %}
<br><br><br><br>
<div class="row">
    {% include 'dashboard/admin/sidebar.html' %}
    <div class="col-md-9">
<div class="card">
    <!-- Header -->
    <div class="card-header border-bottom">
        <h5 class="card-header-title">ایجاد محصول</h5>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <form action="." method="post" enctype="multipart/form-data">
        {{form.media}}
        {% csrf_token %}
        <div class="card-body">
            <div class="row d-flex ">
                <div style="margin-top: 28px;" class="col-md-6 mb-3">
                    <label>نام محصول</label>
                    {{form.title}}
                </div>
                <div class="col-md-6 mb-3" style="margin-top: 22px;">
                    <label>slug محصول - <button style="background-color: #f96747;border-color: #f96747;" class="small-primary-button" type="button"
                        onclick="generateSlug()">ساخت slug</button> </label>
                    {{form.slug}}
                </div>


                <div class="col-md-6 mb-3">
                    <label>وضعیت</label>
                    {{form.status}}
                </div>
                <div class="col-md-6 mb-3">
                    <label>دسته بندی</label>
                    {{form.category}}
                </div>
                <div class="col-md-6 mb-3">
                    <label> برند</label>
                    {{form.brand}}
                </div>

                <div class="col-md-6 mb-3">
                    <label> گارانتی</label>
                    {{form.warranty}}
                </div>
                <div class="col-md-6 mb-3">
                    <label> تایتل کوچولو</label>
                    {{form.brief_title}}
                </div>
                
                <div class="col-md-6 mb-3">
                    <label>متا دیسکریپشن</label>
                    {{form.meta_description}}
                </div>
                <div class="col-md-12 mb-3">
                    <label>توضیحات</label>
                    {{form.description}}
                </div>
                
                <div class="col-md-12 mb-3">
                    <label>توضیح کوتاه</label>
                    {{form.brief_description}}
                </div>

                <div class="col-md-12 mb-3">
                    <label for="validationValidFileInput1">تصویر محصول</label>
                    {{form.image}}
                </div>


            </div>
            <div class="card-footer">
                <div class=" d-flex pt-5 justify-content-end">
                    <a class="btn btn-secondary ms-3" href="{% url 'dashboard:admin:product-list' %}">بازگشت</a>
                    <button class="btn btn-primary ms-3" type="submit">ایجاد محصول</button>
                </div>
            </div>
    </form>
</div>
</div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function generateSlug() {
        const title = document.getElementById("id_title").value;
        const slug = slugify(title);
        document.getElementById("id_slug").value = slug;
    }

function slugify(titleStr) {
    titleStr = titleStr.trim();

    // حذف نیم‌فاصله
    titleStr = titleStr.replace(/\u200C/g, '');

    // تبدیل نقطه به /
    titleStr = titleStr.replace(/\./g, '/');

    // حذف کاراکترهای غیرمجاز (فقط حروف فارسی، انگلیسی، اعداد، فاصله، /، -)
    titleStr = titleStr.replace(/[^a-zA-Z0-9ءاأإآؤئبپتثجچحخدذرزژسشصضطظعغفقکگلمنوهیيةى\s/-]/g, '');

    // تبدیل فاصله به -
    titleStr = titleStr.replace(/\s+/g, '-');

    // حذف - های تکراری
    titleStr = titleStr.replace(/-+/g, '-');

    // حذف - های ابتدا و انتها
    titleStr = titleStr.replace(/^-+|-+$/g, '');

    return titleStr;
}


</script>

{% endblock %}

{% block extra_js_no_compress %}
<script src="{% static 'vendor/ckeditor/ckeditor.js' %}"></script>
<script>
    // Replace 'editor' with the id of your textarea
    CKEDITOR.replace('ckeditor');
</script>
{% endblock %}