{% extends 'base.html' %}


{% block content %}
<br><br><br>
<main>
    <div class="container">
        <section class="user-panel">
            <div class="row">
                {% include 'dashboard/admin/sidebar.html' %}
                <div class="col-md-9">
                    <div class="user-panel-content">
                        <h6 class="">
                            ویرایش پروفایل
                        </h6>
                        <form action="." method="post" class="mt-3">
                            {% csrf_token %}
                            <div class="row profile-input">
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="first_name"
                                        value="{{request.user.user_profile.first_name}}" placeholder="نام">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="last_name"
                                        value="{{request.user.user_profile.last_name}}" placeholder="نام خانوادگی">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="email" class="form-control" name="email"
                                        value="{{request.user.email}}" placeholder="ایمیل">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="text" class="form-control" name="phone_number"
                                        value="{{request.user.phone_number}}" placeholder="شماره همراه">
                                </div>

                                <div class="col-12 text-start">
                                    <button class="btn bg-light theme-color rounded-1 text-dark">
                                        انصراف</button>
                                    <button class="btn theme-color rounded-1 text-light">
                                        ذخیره اطلاعات</button>
                                </div>
                            </div>
                        </form>
                        <form action="{% url 'dashboard:admin:download_database' %}" method="get">
                            <button type="submit">📥 دانلود بک‌آپ دیتابیس</button>
                        </form>
                        <br>
                        <form action="{% url 'dashboard:admin:download_media' %}" method="get">
                            <button type="submit">📥 دانلود بک‌آپ فایل ها مدیا</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock content %}