{% extends 'dashboard/admin/layout.html' %}
{% load static %}

{% block content %}
<!-- Card -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-header-title">رمزعبور</h5>
            </div>

            <!-- Body -->
            <div class="card-body">
                <!-- Form -->
                <form action="." method="post">
                    {% csrf_token %}
                    <!-- Form -->
                    <div class="grid grid-cols-12 gap-x-4 mb-5">
                        <label for="currentPasswordLabel" class="col-span-12 sm:col-span-3">رمز عبور
                            فعلی</label>

                        <div class="col-span-12 sm:col-span-9">
                            {{form.old_password}}
                        </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="grid grid-cols-12 gap-x-4 mb-5">
                        <label for="newPassword" class="col-span-12 sm:col-span-3">رمز عبور جدید</label>

                        <div class="col-span-12 sm:col-span-9">
                            {{form.new_password1}}
                        </div>

                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="grid grid-cols-12 gap-x-4 mb-5">
                        <label for="confirmNewPasswordLabel" class="col-span-12 sm:col-span-3">رمز عبور جدید را
                            تایید کنید</label>

                        <div class="col-span-12 sm:col-span-9">
                            <div class="mb-4">
                                {{form.new_password2}}
                            </div>

                            <h5>الزامات رمز عبور:</h5>

                            <p class="card-text text-sm">اطمینان حاصل کنید که این الزامات برآورده شده است:</p>

                            <ul class="text-sm">
                                <li>حداقل 8 کاراکتر - هر چه بیشتر باشد، بهتر است</li>
                                <li>حداقل یک نویسه کوچک</li>
                                <li>حداقل یک کاراکتر بزرگ</li>
                                <li>حداقل یک عدد، نماد یا نویسه فضای خالی</li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Form -->

                    <div class="flex justify-end gap-3">
                        <button type="submit" class="btn theme-color" style="color: white;">بروزرسانی</button>
                    </div>
                </form>
                <!-- End Form -->
            </div>
            <!-- End Body -->
        </div>
        <!-- End Card -->

        <!-- Card -->

    

<!-- End Card -->
{% endblock %}