{% extends 'dashboard/admin/layout.html' %}
{% load static %}
{% load humanize %}
{% load jformat %}

{% block content %}
<!-- Card -->
        <div class="card">
            <!-- Header -->
            <div class="card-header">
                <form action="." class="mb-6 grid grid-cols-[repeat(auto-fit,minmax(11rem,1fr))] items-end gap-3">

                    <!-- Input Card -->
                    <div class="min-w-0">
                        <input type="text" placeholder="جستو جوی سفارش" name="q" id="search-query-filter">

                    </div>
                    <div class="min-w-0">
                        <select id="status-type-filter" name="status">
                            <option value="" selected>وضعیت</option>
                            {% for status_type in status_types %}
                            <option value="{{status_type.0}}">{{status_type.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="min-w-0">
                        <select id="order-by-filter">
                            <option value="" selected>مرتب سازی</option>
                            <option value="-created_date">جدیدترین</option>
                            <option value="created_date">قدیمی ترین</option>
                        </select>
                    </div>

                    <div class="min-w-0">
                        <select id="page-size-filter">
                            <option value="" selected>تعداد</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </div>

                    <div class="min-w-0">
                        <button type="submit" class="btn btn-primary btn-sm w-full">اعمال</button>
                    </div>
                </form>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <div class="card-body">

                <!-- Tab Content -->
                <div class="tab-content" id="accountOrdersTabContent">
                    <div class="tab-pane fade show active" id="accountOrdersOne" role="tabpanel" aria-labelledby="accountOrdersOne-tab">
                        <!-- Select Group -->
                        <div class="sm:flex sm:items-center mb-6">
                            <div class="mb-2 sm:mb-0 me-4">
                                <span><strong class="text-slate-800">{{ total_items}} سفارش</strong></span>
                            </div>
                        </div>
                        <!-- End Select Group -->
                        <div class="flex flex-col gap-2">
                            <!-- Table -->
                            <div class="table-wrap">
                                <table class="table stack">
                                    <thead >
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">شماره سفارش</th>
                                            <th scope="col">سفارش دهنده</th>
                                            <th scope="col">قیمت کل</th>
                                            <th scope="col">تاریخ ثبت</th>
                                            <th scope="col">وضعیت</th>
                                            <th scope="col">عملیات</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for object in object_list %}
                                        <tr>
                                            <th scope="row" data-label="#">{{forloop.counter}}</th>
                                            <td data-label="شماره سفارش">{{object.id}}</td>
                                            <td data-label="سفارش دهنده">{{object.user.user_profile.get_fullname}}</td>
                                            <td data-label="قیمت کل">{{object.get_price|intcomma}}</td>
                                            <td data-label="تاریخ ثبت">{{ object.created_date|jformat:"%Y/%m/%d - %H:%M" }}</td>
                                            <td data-label="وضعیت">{{object.get_status.label}}</td>
                                            <td data-label="عملیات">
                                                <a class="btn btn-ghost-secondary btn-sm" href="{% url 'dashboard:admin:order-detail' pk=object.pk %}"><i class="bi-pencil-square" style="background-color: greenyellow;">مشاهده</i></a>

                                                <a class="btn btn-ghost-secondary btn-sm" href="{% url 'dashboard:admin:order-edit' pk=object.pk %}"><i class="bi-pencil-square" style="background-color: greenyellow;">ویرایش</i></a>
                                            </td>

                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <!-- End Table -->

                            {% include 'dashboard/admin/_pagination.html' %}
                            <!-- End Pagination -->

                        </div>

                    </div>

                </div>
                <!-- End Tab Content -->
            </div>
            <!-- End Body -->
        </div>
    

<!-- End Card -->
{% endblock %}

{% block extra_js %}
<script>

    $(document).ready(function () {
        let current_url_params = new URLSearchParams(window.location.search)
        $("#page-size-filter").val(current_url_params.get("page_size") || "10")
        $("#order-by-filter").val(current_url_params.get("order_by") || "")
        $("#search-query-filter").val(current_url_params.get("q") || "")
        $("#status-type-filter").val(current_url_params.get("status") || "")

    });
    $('#page-size-filter').change(function () {
        let current_url_params = new URLSearchParams(window.location.search)
        var selectedOption = $(this).val();
        current_url_params.set("page_size", selectedOption)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    });
    $('#order-by-filter').change(function () {
        let current_url_params = new URLSearchParams(window.location.search)
        var selectedOption = $(this).val();
        current_url_params.set("order_by", selectedOption)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    });

</script>
{% endblock %}