{% extends 'dashboard/admin/layout.html' %}
{% load static %}
{% load humanize %}
{% load jformat %}

{% block content %}
<!-- Card -->
    <div class="card">
      <!-- Header -->
      <div class="card-header">
        <div class="flex justify-between items-center">
          <h5 >سفارش شماره {{object.id}}</h5>
          {% if object.is_successful %}
          <!-- <a class="btn btn-primary" href="{% comment %}{% url 'dashboard:admin:order-invoice' pk=object.pk %}{% endcomment %}" target="_blank">مشاهده فاکتور</a> -->
          {% endif %}
        </div>
      </div>
      <!-- End Header -->

      <!-- Body -->
      <div class="card-body">

        <div class="flex flex-col gap-2">
          <!-- Table -->
          <div class="table-wrap">
            <table class="table stack">
              <thead >
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">تصویر</th>
                  <th scope="col">کد محصول</th>
                  <th scope="col">نام محصول</th>
                  <th scope="col">رنگ</th>
                  <th scope="col">تعداد سفارش</th>
                  <th scope="col">قیمت واحد محصول</th>
                </tr>
              </thead>
              <tbody>
                {% for order_item in object.order_items.all %}
                <tr>
                  <th scope="row" data-label="#">{{forloop.counter}}</th>
                  <td data-label="تصویر">
                    <span class="avatar">
                      <img class="thumb" src="{{order_item.product.image.url}}" alt="Image Description">
                    </span>
                  </td>
                  <td data-label="کد محصول">{{order_item.product.pk}}</td>
                  <td data-label="نام محصول">{{order_item.product.title}}</td>
                  <td data-label="رنگ">{{order_item.color}}</td>
                  <td data-label="تعداد سفارش">{{order_item.quantity}}</td>
                  <td class="formatted-price" data-label="قیمت واحد محصول">{{order_item.price|intcomma}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- End Table -->

        </div>
        <!-- End Row -->

      </div>
      <div class="flex flex-col gap-2 card-footer pt-6 mt-6">
        <form method="post" action=".">
          {% csrf_token %}
          <div class="grid grid-cols-12 gap-x-4 mb-4 items-center">
            <dt class="detail-label">سفارش دهنده:</dt>
            <dl class="detail-value">{{object.user.user_profile.get_fullname}}</dl>
            <dt class="detail-label">وضعیت سفارش:</dt>
            <dl class="detail-value">{{form.status}}</dl>
          </div>
          <div class="grid grid-cols-12 gap-x-4 mb-4">
            <dt class="detail-label"> تاریخ سفارش:</dt>
            <dl class="detail-value">{{ object.created_date|jformat:"%Y/%m/%d - %H:%M" }}</dl>
            <dt class="detail-label">قیمت نهایی</dt>
            <dl class="detail-value formatted-price">{{object.total_price|intcomma}}</dl>
          </div>
          {% if object.coupon %}
          <div class="grid grid-cols-12 gap-x-4 mb-4">
            <dt class="detail-label">تخفیف</dt>
            <dl class="detail-value">{{object.coupon.discount_percent}}%</dl>
            <dt class="detail-label">قیمت با اعمال تخفیف</dt>
            <dl class="detail-value formatted-price">{{object.get_price|intcomma}}</dl>
          </div>
          {% endif %}
          <!-- End Row -->
          <div class="grid grid-cols-12 gap-x-4 mb-4">
            <dt class="detail-label"> آدرس:</dt>
            <dl class="detail-value">{{object.get_full_address}}</dl>
            <dt class="detail-label"> کد پستی:</dt>
            <dl class="detail-value">{{object.zip_code}}</dl>
          </div>

          <div class="grid grid-cols-12 gap-x-4 mb-4">
            <dt class="detail-label"> نوع پست:</dt>
            <dl class="detail-value">{{form.tracking_type}}</dl>
            <dt class="detail-label"> شماره بارنامه :</dt>
            <dl class="detail-value">{{form.tracking_code}}</dl>
          </div>
          <div class="grid grid-cols-12 gap-x-4 mb-4">
            <dt class="detail-label"> نوع پرداخت:</dt>
            <dl class="detail-value">{{ object.payment.get_payemnt_type_display }}</dl>
            <dt class="detail-label">باقیمانده:</dt>
            <dl class="detail-value">{{ form.remainder }}</dl>
          </div>
          <div class="grid grid-cols-12 gap-x-4 mb-4">
            <dt class="detail-label">کد پرداخت :</dt>
            <dl class="detail-value">{{ object.payment.response_code }}</dl>
            <dt class="detail-label">کد پیگیری پرداخت:</dt>
          <dl class="detail-value">
              {% if object.payment.payemnt_type == 5 %}
                  {{ form.authority_id }}
              {% else %}
                  {{ object.payment.authority_id }}
              {% endif %}
          </dl>
          </div>

          <div class="grid grid-cols-12 gap-x-4 mb-4">
            <dt class="detail-label">وضعیت پرداخت:</dt>
            <dl class="detail-value">{{ object.payment.get_status_display }}</dl>
            {% if object.payment.payemnt_type != 2 %}
            <dt class="detail-label">شماره کارت پرداختی:</dt>
            <dl class="detail-value">{{ object.payment.response_json.data.card_pan }}</dl>
            {% endif %}
          </div>
          <div class="flex pt-6 justify-end">
            <a class="btn btn-secondary" href="{% url 'dashboard:admin:order-list' %}">بازگشت</a>
            <button type="submit" class="btn btn-primary">ثبت تغییرات</button>
          </div>

        </form>
      </div>
      <!-- End Body -->
    </div>
    <!-- End Card -->
  

{% endblock %}