{% extends 'dashboard/admin/layout.html' %}
{% load static %}

{% block content %}
<!-- Card -->
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="card-header-title">ویرایش رنگ </h4>
            </div>

            <form action="." method="post">
                <!-- Body -->
                <div class="card-body">
                    <!-- Form -->

                    {% csrf_token %}

                    <!-- Form -->
                    <div class="grid grid-cols-12 gap-x-4">
                        <div class="col-span-12 md:col-span-6 mb-5">
                            <label >رنگ</label>
                            {{ form.color }}
                        </div>
                        <div class="col-span-12 md:col-span-6 mb-5">
                            <label >قیمت</label>
                            {{ form.price }}
                        </div>
                    </div>
                    
                    <div class="grid grid-cols-12 gap-x-4">
                        <div class="col-span-12 md:col-span-6 mb-5">
                            <label >قیمت با تخفیف</label>
                            {{ form.final_price }}
                        </div>
                        <div class="col-span-12 md:col-span-6 mb-5">
                            <label >تعداد</label>
                            {{ form.stock }}
                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-x-4">
                        <div class="col-span-12 md:col-span-6 mb-5">
                            <label >کد رنگ</label>
                            {{ form.hex_color }}
                        </div>
                    </div>
                <!-- End Body -->
                    
                <!-- Footer -->
                <div class="card-footer pt-0">
                    <div class="flex justify-end gap-3">
                        <a class="btn btn-secondary" href="{% url 'dashboard:admin:product-edit' pk=product.id %}">بازگشت</a>
                        <button class="btn btn-primary" type="submit">ذخیره تغییرات</button>
                    </div>
                </div>
            </form>
            <!-- End Footer -->
        </div>
        <!-- End Card -->
    </div>

{% endblock %}