{% extends 'base.html' %}
{% load static %}



{% block content %}
<br><br><br><br>
<div class="row">
    {% include 'dashboard/admin/sidebar.html' %}
    <!-- Card -->
    <div class="col-md-9 mb-9">
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header border-bottom">
                <h4 class="card-header-title">ویرایش رنگ </h4>
            </div>

            <form action="." method="post">
                <!-- Body -->
                <div class="card-body">
                    <!-- Form -->

                    {% csrf_token %}


                    <!-- Form -->
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label class="col-form-label form-label">رنگ</label>
                            {{ form.color }}
                        </div>
                        <div class="col-md-6 mb-4">
                            <label class="col-form-label form-label">قیمت</label>
                            {{ form.price }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label class="col-form-label form-label">تخفیف</label>
                            {{ form.discount_percent }}
                        </div>
                        <div class="col-md-6 mb-4">
                            <label class="col-form-label form-label">تعداد</label>
                            {{ form.stock }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label class="col-form-label form-label">کد رنگ</label>
                            {{ form.hex_color }}
                        </div>
                    </div>
                <!-- End Body -->
                    
                <!-- Footer -->
                <div class="card-footer pt-0">
                    <div class="d-flex justify-content-end gap-3">
                        <a class="btn btn-secondary" href="{% url 'dashboard:admin:product-edit' pk=product.id %}">بازگشت</a>
                        <button class="btn btn-primary" style="background-color: #f96747;border-color: #f96747;" type="submit">ذخیره تغییرات</button>
                    </div>
                </div>
            </form>
            <!-- End Footer -->
        </div>
        <!-- End Card -->
    </div>
</div>
{% endblock %}