{% extends 'dashboard/admin/layout.html' %}
{% load static %}

{% block content %}
<div class="card">
            <!-- Header -->
            <div class="card-header">
                <h5 class="card-header-title">حذف رنگ</h5>
            </div>
            <!-- End Header -->

            <!-- Body -->
            <form action="{% url 'dashboard:admin:product-color-delete' pk=object.id prduct_pk=object.product.id %}" method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="flex flex-col gap-2">
                        <p> آیا از حذف رنگ محصول زیر اطمینان دارید؟</p>
                        <div class="flex flex-col gap-2">
                            <span>شناسه رنگ : {{object.pk}}</span>
                            <span>نام رنگ : {{object.color}}</span>
                        </div>
                        
                    </div>
                    <div class="card-footer">
                        <div class="flex pt-6 justify-end">
                            <button type="submit" class="btn btn-danger">تایید حذف</button>
                            <a class="btn btn-secondary" href="{% url 'dashboard:admin:product-edit' pk=object.product.id %}">بازگشت</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>

{% endblock %}