{% extends 'base.html' %}
{% load allauth %}

{% block title %}
ثبت نام با گوگل
{% endblock title %}
{% block content %}

{% block extra_css %}
            <style>
        body {
            background: #f9f9f9;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
        }

        .containersss {
            max-width: 500px;
            margin: 80px auto;
            padding: 40px;
            background-color: #fff;
            border-radius: 16px;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
            text-align: center;
        }

        .containersss h1 {
            color: #db4437;
            margin-bottom: 20px;
            font-size: 28px;
        }

        .containersss p {
            font-size: 16px;
            color: #333;
            margin-bottom: 30px;
        }

        .google-button {
            background-color: rgb(230, 213, 213);
            color: black;
            border: none;
            padding: 12px 30px;
            font-size: 16px;
            border-radius: 8px;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .google-button:hover {
            background-color: #c23321;
        }

        .google-icon {
            vertical-align: middle;
            
        }
    </style>
{% endblock extra_css %}
<main>

        {% element form method="post" action=action_url %}
        {% slot body %}

        {% endslot %}
        {% slot actions %}

        {% endslot %}
        {% endelement %}

</main>

{% endblock content %}