<ul class="desktop-menu-category-list mb-2 w-center">
    <li class="menu-category">
        <div class="mega-menu-trigger-wrapper">
            <a id="mega-menu-trigger-btn-desktop" class="nav-link-mega-trigger mt-1" href="#">
                دسته‌بندی کالاها
            </a>
            <div class="mega-menu-panel mega-tab-menu" id="mega-menu-panel-content-desktop">
                <div class="row g-0"> <!-- g-0 removes gutters -->
                    <div class="col-lg-4 mega-menu-categories">
                        <ul class="list-unstyled mega-category-list">
                            {% include 'megamenu/category-list.html' %}
                        </ul>
                    </div>
                    <div class="col-lg-8 mega-menu-content-area">
                        <!-- Phone in mega-menu -->
                        {% include 'megamenu/phone-menu.html' %}
                        <!-- Tablet in mega-menu -->
                        {% include 'megamenu/tablet-menu.html' %}
                        <!-- LapTop in mega-menu -->
                        {% include 'megamenu/laptop-menu.html' %}
                        <!-- Monitor in mega-menu -->
                        {% include 'megamenu/monitor-menu.html' %}
                        <!-- Console in mega-menu -->
                        {% include 'megamenu/console-menu.html' %}
                        <!-- Speaker in mega-menu -->
                        {% include 'megamenu/speaker-menu.html' %}
                        <!-- HeadPhone in mega-menu -->
                        {% include 'megamenu/headphone-menu.html' %}
                        <!-- AplleWatch in mega-menu -->
                        {% include 'megamenu/watch-menu.html' %}
                        <!-- Accessory in mega-menu -->
                        {% include 'megamenu/gajet-menu.html' %}
                        <!-- Accessory in mega-menu -->
                        {% include 'megamenu/power-menu.html' %}
                        <!-- Accessory in mega-menu -->
                        {% include 'megamenu/memory-menu.html' %}
                        <!-- Accessory in mega-menu -->
                        {% include 'megamenu/mouse-menu.html' %}
                        <!-- Accessory in mega-menu -->
                        {% include 'megamenu/charger-menu.html' %}
                        <!-- Accessory in mega-menu -->
                        {% include 'megamenu/frame-menu.html' %}
                        <!-- Accessory in mega-menu -->
                        {% include 'megamenu/pcall-menu.html' %}
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="menu-category">
        <a href="{% url 'website:index' %}" class="menu-title">خانه</a>
    </li>
    <li class="menu-category">
        <a href="{% url 'website:contact' %}" class="menu-title">تماس با ما</a>
    </li>
    <li class="menu-category">
        <a href="{% url 'faq:man-one-seen' %}" class="menu-title">درباره ما</a>
    </li>
    <li class="menu-category">
        <a href="{% url 'blog:blog-list' %}" class="menu-title">بلاگ</a>
    </li>
</ul>