{% load static %}

<footer>
    <div class="footer-nav d-flex justify-content-between">
        <div class="container align-items-baseline">
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">لینک های مفید</h2>
                </li>

                <li class="footer-nav-item mt-2"><a target="_blank" href="{% url 'faq:faq' %}#content-general-faqs"
                        class="footer-nav-link">سوالات متداول</a></li>
                <li class="footer-nav-item mt-2"><a target="_blank" href="{% url 'faq:faq' %}#content-order-tracking"
                        class="footer-nav-link">پیگیری سفارشات</a></li>
                <li class="footer-nav-item mt-2"><a target="_blank" href="{% url 'faq:faq' %}" class="footer-nav-link">پلتفرم مالی
                        اعتبار من</a></li>
                <li class="footer-nav-item mt-2"><a target="_blank" href="{% url 'faq:faq' %}#content-returns"
                        class="footer-nav-link">مفاد ضمانت هفت روزه برگشت
                        وجه</a></li>
                <li
                    class="footer-nav-item mt-2 d-flex justify-content-end mt-3 flex-column flex-wrap align-items-start">
                    <p class="footer-nav-link">
                        شبکه های اجتماعی
                    </p>
                    <div class="d-flex justify-content-center flex-wrap mt-3 w-right">
                        <span class="footer-icons">
                            <a class="p-2"
                                href="https://www.instagram.com/manmarket_ir?igsh=cHpmcXQzN3didHMx&utm_source=qr"
                                target="_blank">
                                <svg class="text-dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15"
                                    width="1.55em" height="1.55em">
                                    <path fill="none" stroke="currentColor"
                                        d="M11 3.5h1M4.5.5h6a4 4 0 0 1 4 4v6a4 4 0 0 1-4 4h-6a4 4 0 0 1-4-4v-6a4 4 0 0 1 4-4Zm3 10a3 3 0 1 1 0-6a3 3 0 0 1 0 6Z">
                                    </path>
                                </svg>
                            </a>
                        </span>
                        <span class="footer-icons">
                            <a class="p-2" href="https://t.me/Manmarket_ir" target="_blank">
                                <svg class="text-dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                    width="1.55em" height="1.55em">
                                    <path fill="currentor"
                                        d="M21.945 2.765a1.55 1.55 0 0 0-1.572-.244L2.456 9.754a1.543 1.543 0 0 0 .078 2.884L6.4 13.98l2.095 6.926c.004.014.017.023.023.036a.5.5 0 0 0 .093.15a.5.5 0 0 0 .226.143c.01.004.017.013.027.015h.006l.003.001a.45.45 0 0 0 .233-.012l.025-.005a.5.5 0 0 0 .191-.122c.006-.007.016-.008.022-.014l3.013-3.326l4.397 3.405c.267.209.596.322.935.322c.734 0 1.367-.514 1.518-1.231L22.469 4.25a1.53 1.53 0 0 0-.524-1.486M9.588 15.295l-.707 3.437l-1.475-4.878l7.315-3.81l-4.997 4.998a.5.5 0 0 0-.136.253m8.639 4.772a.54.54 0 0 1-.347.399a.53.53 0 0 1-.514-.078l-4.763-3.689a.5.5 0 0 0-.676.06L9.83 19.07l.706-3.427l7.189-7.19a.5.5 0 0 0-.584-.797L6.778 13.054l-3.917-1.362A.53.53 0 0 1 2.5 11.2a.53.53 0 0 1 .334-.518l17.914-7.233a.54.54 0 0 1 .558.086a.52.52 0 0 1 .182.518z">
                                    </path>
                                </svg>
                            </a>
                        </span>
                        <span class="footer-icons">
                            <a class="p-2" href="https://www.facebook.com/profile.php?id=61560598447246"
                                target="_blank">
                                <svg class="text-dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                    width="1.55em" height="1.55em">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="1.5"
                                        d="M6.182 10.333c-.978 0-1.182.192-1.182 1.111v1.667c0 .92.204 1.111 1.182 1.111h2.363v6.667c0 .92.205 1.111 1.182 1.111h2.364c.978 0 1.182-.192 1.182-1.111v-6.667h2.654c.741 0 .932-.135 1.136-.806l.507-1.666c.349-1.149.133-1.417-1.137-1.417h-3.16V7.556c0-.614.529-1.112 1.181-1.112h3.364c.978 0 1.182-.191 1.182-1.11V3.11C19 2.191 18.796 2 17.818 2h-3.364c-3.263 0-5.909 2.487-5.909 5.556v2.777z"
                                        color="currentColor"></path>
                                </svg>
                            </a>
                        </span>
                        <span class="footer-icons">
                            <a class="p-2" href="https://www.youtube.com/@ManMarket_ir" target="_blank">
                                <svg class="text-dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                    width="1.55em" height="1.55em">
                                    <g fill="none" stroke="currentColor" strokeWidth="1.5">
                                        <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round"
                                            d="m14 12l-3.5 2v-4z"></path>
                                        <path
                                            d="M2 12.708v-1.416c0-2.895 0-4.343.905-5.274c.906-.932 2.332-.972 5.183-1.053C9.438 4.927 10.818 4.9 12 4.9s2.561.027 3.912.065c2.851.081 4.277.121 5.182 1.053S22 8.398 22 11.292v1.415c0 2.896 0 4.343-.905 5.275c-.906.931-2.331.972-5.183 1.052c-1.35.039-2.73.066-3.912.066s-2.561-.027-3.912-.066c-2.851-.08-4.277-.12-5.183-1.052S2 15.602 2 12.708Z">
                                        </path>
                                    </g>
                                </svg>
                            </a>
                        </span>
                    </div>
                </li>
            </ul>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <h2 class="nav-title">درباره ما</h2>
                </li>

                <li class="footer-nav-item mt-2"><a href="{% url 'faq:call-we' %}" class="footer-nav-link">تماس با
                        ما</a></li>
                <li class="footer-nav-item mt-2"><a href="{% url 'faq:rules' %}" class="footer-nav-link">قوانین و
                        مقررات</a></li>
                <li class="footer-nav-item mt-2"><a href="{% url 'faq:target' %}" class="footer-nav-link">اهداف و
                        تعهدات ما</a></li>
                <!-- <li class="footer-nav-item mt-2"><a href="" class="footer-nav-link">فروشگاه های حضوری</a></li> -->
                <li class="footer-nav-item mt-2"><a href="{% url 'faq:man-one-seen' %}" class="footer-nav-link">من
                        مارکت
                        در یک نگاه</a></li>
            </ul>
            <ul class="footer-nav-list d-flex flex-wrap flex-column w-50 justify-content-end">
                <li class="footer-nav-item"><h2 class="nav-title w-center mx-3">من مارکت</h2></li>
                <div class="">
                    <div class="d-flex flex-wrap justify-content-end center-max-24">
                        <a referrerpolicy='origin' target='_blank'  href="https://trustseal.enamad.ir/?id=527464&Code=pPrrLy886QxLMhLkgAStOwlJBtPaDni4" class=" d-flex align-items-center justify-content-center py-2 footer-nav-item b-x-s">
                            <img referrerpolicy='origin' class="w-50" alt="من مارکت" src="{% static 'img/E.namad.png' %}">
                        </a>
                        <a target="_blank" href="https://logo.samandehi.ir/Verify.aspx?id=372520&p=xlaojyoeuiwkdshwuiwkobpd" class=" d-flex align-items-center justify-content-center py-2 footer-nav-item b-x-s">
                            <img class="w-50 en-img" referrerpolicy='origin' id = 'rgvjjzpenbqeapfunbqeesgt' style = 'cursor:pointer' onclick = 'window.open("https://logo.samandehi.ir/Verify.aspx?id=372520&p=xlaojyoeuiwkdshwuiwkobpd", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt = 'logo-samandehi' src ="{% static 'img/E.namad.t' %}" />
                        </a>
                        <a target="_blank"  href="https://qr.mojavez.ir/track/11011459" class=" d-flex align-items-center justify-content-center py-2 footer-nav-item b-x-s">
                            <img class="w-50 en-img" alt="من مارکت" src="{% static 'img/E.namad.3.png' %}">
                        </a>
                        <a target="_blank" href="https://www.irannsr.org/" class=" d-flex align-items-center justify-content-center py-2 footer-nav-item b-x-s">
                            <img class="w-50 en-img" alt="من مارکت" src="{% static 'img/E.namad.4.png' %}">
                        </a>
                        <a target="_blank" href="https://daneshbonyan.isti.ir/" class=" d-flex align-items-center justify-content-center py-2 footer-nav-item b-x-s">
                            <img class="w-50 en-img" alt="من مارکت" src="{% static 'img/E.namad.5.png' %}">
                        </a>
                        <a target="_blank" href="https://www.mcth.ir/" class=" d-flex align-items-center justify-content-center py-2 footer-nav-item b-x-s">
                            <img class="w-50 en-img" alt="من مارکت" src="{% static 'img/E.namad.6.jpg' %}">
                        </a>
                    </div>
                </div>
            </ul>

            <!-- <div style=" border: 1px solid #d5d5d5;" class="w-100 rounded-3 py-3 d-flex justify-content-between flex-wrap align-items-center">
                <div class="w-25 text-end px-1 d-n-text">

                    <h1 class="text-dark text-end px-1 fs-6 py-2 m-0 d-flex justify-content-center align-items-center ">
                        دانلود اپلیکیشن من مارکت
                        <img alt="" class="w-25 mx-2 ex-pex" src="{% static 'img/main.logo2.png' %}">
                    </h1>

                </div>
                <div class="py-2 px-2 my-2 d-flex justify-content-center flex-wrap">
                    <div class="d-flex justify-content-center text-center flex-wrap">
                        <a href="{% static 'app/من_مارکت.apk' %}" class="mx-1 my-2 cs-wid-2">
                            <img class="DN-img rounded-3" src="{% static 'img/DN/m-main-android-1.png' %}" alt="دانلود اپلیکیشن من مارکت">
                        </a>
                        <span id="add-to-pwa" href="" class="mx-1 my-2 cs-wid-2">
                            <img class="DN-img rounded-3" src="{% static 'img/DN/m-main-android-4.png' %}" alt="دانلود اپلیکیشن من مارکت">
                        </span>
                        <a href="" class="mx-1 my-2 cs-wid-2">
                            <img class="DN-img rounded-3" src="{% static 'img/DN/m-main-android-3.png' %}" alt="دانلود اپلیکیشن من مارکت">
                        </a>
                        <a href="" class="mx-1 my-2 cs-wid-2">
                            <img class="DN-img rounded-3" src="{% static 'img/DN/m-main-android-2.png' %}" alt="دانلود اپلیکیشن من مارکت">
                        </a>
                    </div>
                </div>
            </div> -->
            </div>
        </div>
    </div>
    <h6 class="text-center my-4 coppy">زیرمجموعه‌ای از اکوسیستم راه ابــریــشــم نــو</h6>
</footer>