{% extends 'dashboard/admin/layout.html' %}
{% load static %}

{% block content %}
<!-- Card -->
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="card-header-title">ایجاد دسته بندی </h4>
            </div>

            <form action="." method="post">
                <!-- Body -->
                <div class="card-body">
                    <!-- Form -->

                    {% csrf_token %}

                    <!-- Form -->
                    <div class="grid grid-cols-12 gap-x-4">
                        <div class="col-span-12 md:col-span-6 mb-4">
                            <label>نام دسته بندی</label>
                            {{form.name}}
                        </div>
                        <div class="col-span-12 md:col-span-6 mb-4">
                            <label>slug دسته بندی</label>
                            {{form.slug}}
                        </div>

                    </div>

                    <!-- End Body -->

                    <!-- Footer -->
                    <div class="card-footer pt-0">
                        <div class="flex justify-end gap-3">
                            <a class="btn btn-secondary" href="{% url 'dashboard:admin:blog-category-list' %}">بازگشت</a>
                            <button class="btn btn-primary" type="submit">ذخیره تغییرات</button>
                        </div>
                    </div>
            </form>
            <!-- End Footer -->
        </div>
        <!-- End Card -->
    </div>

{% endblock %}

{% block extra_js %}
<script>

    function generateSlug() {
        const title = $("#id_title").val();
        const slug = slugify(title);
        $("#id_slug").val(slug)
    }

    function slugify(titleStr) {
        titleStr = titleStr.replace(/^\s+|\s+$/g, '');
        titleStr = titleStr.toLowerCase();
        //persian support
        titleStr = titleStr.replace(/[^a-z0-9_\s-ءاأإآؤئبتثجحخدذرزسشصضطظعغفقكلمنهويةى]#u/, '')
            // Collapse whitespace and replace by -
            .replace(/\s+/g, '-')
            // Collapse dashes
            .replace(/-+/g, '-');
        slugStr = titleStr;
        return slugStr;
    }
</script>
{% endblock %}