{% extends 'base.html' %}

{% block title %}
    ارتباط سریع با تیم پشتیبانی
{% endblock title %}


{% block meta_description %}
    <meta name="description" content="ارتباط سریع و مستقیم با تیم پشتیبانی من‌مارکت از طریق شماره تلفن، ایمیل و شبکه‌های اجتماعی. پاسخگویی حرفه‌ای و ۲۴ ساعته." />
{% endblock meta_description %}
    

{% block content %}
<main class="d-flex justify-content-center flex-column my-5 container py-5">
    <h5 class="my-1 py-1 ">دفتر مرکزی من مارکت</h5>
    <p class="my-1 py-1 custom-text">آدرس: تهران، خیابان حافظ خیابان غزالی تقاطع پارس برج پارس پلاک 15 طبقه اول واحد 6 </p>
    <h5 class="my-1 py-1 ">خدمات پس از فروش</h5>
    <p class="my-1 py-1 custom-text ">لطفاً کلیه مرسولات مربوط به خدمات پس از فروش را صرفاً به آدرس پستی زیر ارسال نمایید:</p>
    <p class="my-1 py-1 custom-text ">تهران - صندوق پستی: 1131946133</p>
    <h5 class="my-1 py-1 custom-text ">ساعات پاسخگویی</h5>
    <p class="my-1 py-1 custom-text  ">پشتیبانی من مارکت، همه‌روزه از ساعت08:00 الی 23:00 آماده پاسخگویی به شما مشتریان گرامی است.</p>
    <h5 class="my-1 py-1  ">شماره تماس پشتیبانی:</h5>
    <p class="my-1 custom-text w-right" dir="ltr">05144672729</p>
    <p class="my-1 custom-text"> 09120983422</p>
</main>



{% endblock content %}


