{% extends 'base.html' %}

{% block title %}
    call we
{% endblock title %}

{% block content %}
<br><br><br>    


<main class="d-flex justify-content-center flex-column my-5 container">
    <h5 class="text-center my-1 py-1">تماس با ما</h5>
    <h5 class="my-1 py-1 ">دفتر مرکزی من مارکت</h5>
    <p class="my-1 py-1 custom-text">آدرس: تهران، خیابان حافظ خیابان غزالی تقاطع پارس برج پارس پلاک 15 طبقه اول واحد 6 </p>
    <h5 class="my-1 py-1 ">خدمات پس از فروش</h5>
    <p class="my-1 py-1 custom-text ">لطفاً کلیه مرسولات مربوط به خدمات پس از فروش را صرفاً به آدرس پستی زیر ارسال نمایید:</p>
    <p class="my-1 py-1 custom-text ">تهران - صندوق پستی: 1131946133</p>
    <h5 class="my-1 py-1 custom-text ">ساعات پاسخگویی</h5>
    <p class="my-1 py-1 custom-text  ">پشتیبانی من مارکت، همه‌روزه از ساعت08:00 الی 23:00 آماده پاسخگویی به شما مشتریان گرامی است.</p>
    <h5 class="my-1 py-1  ">شماره تماس پشتیبانی:</h5>
    <p class="my-1 custom-text">021 - 82801715</p>
    <p class="my-1 custom-text"> 09120983422</p>
</main>


{% endblock content %}


