{% extends 'base.html' %}

{% block title %}
    من مارکت در یک نگاه
{% endblock title %}

{% block content %}
    

<main class="d-flex justify-content-center flex-column my-5 container">


    <h5 class="">
        من مارکت در یک نگاه
    </h5>
    <p class="my-1 py-2 custom-text ">درباره من مارکت: خریدی هوشمند، مطمئن و آسان
        من مارکت به عنوان یکی از پروژه‌های کلیدی شرکت راه ابریشم نو، با هدف ارائه تجربه‌ای نوین در خرید آنلاین کالاهای دیجیتال و لوازم خانگی فعالیت خود را آغاز کرد. این فروشگاه، حاصل تجربه، دانش فنی و رویکرد نوآورانه‌ای است که در دل یک اکوسیستم پیشرفته شکل گرفته است.
    </p>
    <p class=" custom-text my-1 py-2">
        ما باور داریم خرید آنلاین باید تجربه‌ای ساده، مطمئن و آگاهانه باشد. از همین رو تلاش کرده‌ایم بستری ایجاد کنیم که مشتریان با اطلاعات دقیق، انتخابی مناسب داشته باشند و با آرامش خاطر خرید کنند
    </p>

    <h5 class="my-1 py-2 ">
        چرا من مارکت؟
    </h5>



    <p class="custom-text py-2 my-1 ">تجربه‌ای مبتنی بر اعتماد: من مارکت با تکیه بر زیرساخت‌های هوشمند و حمایت شرکت راه ابریشم نو، محیطی امن و حرفه‌ای برای خرید فراهم کرده است.</p>
    <p class="custom-text py-2 my-1 ">تنوع در انتخاب: طیف گسترده‌ای از محصولات دیجیتال و خانگی با قیمت رقابتی و تضمین کیفیت.</p>
    <p class="custom-text py-2 my-1 ">پشتیبانی واقعی: تیمی حرفه‌ای و پاسخ‌گو در کنار شماست تا فرآیند خرید، از انتخاب تا تحویل، بدون دغدغه انجام شود.</p>
    <p class="custom-text py-2 my-1 ">خرید آنلاین، تحویل سریع: با مدل‌های متنوع ارسال، محصولات به‌موقع و ایمن به دست شما می‌رسند.</p>
    <h5 class="custom-text py-2 my-1 ">تعهد ما: اطمینان و رضایت مشتری</h5>
    <p class="custom-text py-2 my-1 ">در من مارکت، همه‌چیز در خدمت راحتی شماست؛ از طراحی تجربه کاربری گرفته تا انتخاب کالاهای باکیفیت، پشتیبانی، پرداخت امن و ارسال سریع. ما برای هر خرید، به‌اندازه یک ارتباط بلندمدت ارزش قائلیم.</p>
    <h5 class="my-1 py-2 ">همگام با توسعه راه ابریشم نو</h5>
    <p class="custom-text py-2 my-1">به‌عنوان یکی از بازوهای اجرایی شرکت راه ابریشم نو، من مارکت بخشی از یک اکوسیستم گسترده‌ است که در حوزه‌های تأمین مالی، زنجیره تأمین کالا، خدمات لجستیکی، و گردشگری کسب‌وکار فعالیت می‌کند. این پشتیبانی ساختاری، امکان ارائه خدمات مالی هوشمند، خرید اقساطی، و تحویل سریع را در من مارکت فراهم کرده است.</p>
    <h5 class="my-1 py-2 ">آینده روشن با همراهی شما</h5>
    <p class="custom-text py-2 my-1">من مارکت با تیمی متعهد و حرفه‌ای، به‌دنبال توسعه مستمر خدمات خود و خلق تجربه‌ای متفاوت از خرید آنلاین است. ما معتقدیم آینده تجارت الکترونیک، از آن برندهایی است که به مشتری گوش می‌دهند و هم ‌پای نیازهای او حرکت می‌کنند.</p>
</main>

{% endblock content %}
