{% extends 'base.html' %}

{% block title %}
rules
{% endblock title %}

{% block content %}
<br><br><br>


<main class="d-flex justify-content-center flex-column my-5 container">
    <h5 class="  py-2 my-1">قوانین و مقررات</h5>
    <h5 class="my-1 py-1 ">مقررات فروش اینترنتی من مارکت</h5>
    <p class="my-1 py-1 custom-text ">تأیید و پرداخت فاکتور توسط خریدار به منزله پذیرش کامل تمامی مفاد مندرج در این
        مقررات است.</p>
    <h5 class="  py-1 my-1">مقدمه</h5>
    <p class="my-1 py-1 custom-text ">کاربر گرامی؛به منظور بهره‌مندی از خدمات و سرویس‌های وب‌سایت من مارکت، مطالعه و
        پذیرش قوانین و مقررات این وب‌سایت الزامی است. ثبت‌نام شما به عنوان کاربر و همچنین اقدام به خرید، به منزله اطلاع
        و پذیرش تمامی مقررات این سند تلقی می‌گردد.</p>
    <h5 class="my-1 py-1 ">خرید آنلاین از من مارکت</h5>
    <p class="my-1 py-1 custom-text ">خرید محصولات تنها از طریق وب‌سایت رسمی manmarket.ir امکان‌پذیر است.</p>
    <p class="my-1 py-1 custom-text ">هرگونه فعالیت در شبکه‌های اجتماعی تنها با اکانت‌های رسمی معرفی‌شده توسط من مارکت
        معتبر است. استفاده غیرمجاز از نام، لوگو یا هویت بصری من مارکت پیگرد قانونی خواهد داشت.</p>
    <h5 class="my-1 py-1   ">سیاست قیمت‌گذاری</h5>
    <p class="my-1 py-1 custom-text ">قیمت کالاها براساس شرایط بازار به‌روزرسانی می‌شود و ممکن است مشمول تغییرات دوره‌ای
        شوند. پس از ثبت و تأیید سفارش، قیمت نهایی در فاکتور قطعی است و امکان تغییر آن وجود ندارد.</p>
    <p class="my-1 py-1 custom-text ">در صورت بروز خطا در قیمت‌گذاری کالا به‌گونه‌ای که تفاوت فاحشی با عرف بازار داشته
        باشد، من مارکت مجاز به لغو سفارش و استرداد وجه پرداختی ظرف حداکثر ۷۲ ساعت کاری است.</p>
    <h5 class="my-1 py-1   ">ثبت، پردازش و ارسال سفارشات</h5>
    <p class="my-1 py-1 custom-text ">تأیید فاکتور و پرداخت به منزله پذیرش کامل مقررات وب‌سایت است.</p>
    <p class="my-1 py-1 custom-text ">پس از نهایی شدن سفارش، امکان تغییر در آدرس یا روش ارسال وجود ندارد.</p>
    <p class="my-1 py-1 custom-text ">کلیه سفارش‌ها پس از ثبت، از طریق پیامک یا پنل کاربری به اطلاع مشتری می‌رسد و در صف
        پردازش قرار می‌گیرد.</p>
    <p class="my-1 py-1 custom-text ">در صورت اتمام موجودی کالا، من مارکت مجاز به لغو سفارش یا ارائه گزینه جایگزین خواهد
        بود.</p>
    <p class="my-1 py-1 custom-text ">ارسال سفارش‌ها در سریع‌ترین زمان ممکن انجام می‌شود، با این حال در ایام خاص احتمال
        تأخیر در ارسال وجود دارد.</p>
    <h5 class="my-1 py-1   ">احراز هویت و تحویل</h5>
    <p class="my-1 py-1 custom-text ">جهت رعایت الزامات قانونی، در سفارش‌های بالای ۱۰ میلیون تومان، تحویل کالا منوط به
        ارائه مدارک هویتی و تأیید آن است.</p>
    <p class="my-1 py-1 custom-text ">کالا تنها به شخص ثبت‌کننده سفارش یا فرد معرفی‌شده توسط وی تحویل داده می‌شود.</p>
    <h5 class="my-1 py-1   ">عودت و بازگشت کالا</h5>
    <p class="my-1 py-1 custom-text ">در صورت انصراف از خرید، کالا باید به صورت کامل و بسته‌بندی‌شده به همراه تمام اقلام
        جانبی بازگردانده شود. در صورت آسیب‌دیدگی ناشی از حمل نامناسب یا عدم بیمه، مسئولیت متوجه خریدار است.</p>
    <p class="my-1 py-1 custom-text ">هزینه ارسال بازگشت تنها در صورتی بر عهده من مارکت است که کالا دارای ایراد فنی یا
        مغایرت باشد و تا حداکثر ۷ روز کاری پس از دریافت کالا اعلام شده باشد.</p>
    <p class="my-1 py-1 custom-text ">بازگشت وجه تنها به حسابی انجام می‌شود که پرداخت از آن صورت گرفته است.</p>
    <h5 class="my-1 py-1   ">روش‌های پرداخت</h5>
    <p class="my-1 py-1 custom-text ">در صورت پرداخت کارت‌به‌کارت، ثبت مشخصات تراکنش شامل شماره کارت، زمان پرداخت و نام
        دارنده حساب الزامی است.</p>
    <p class="my-1 py-1 custom-text ">بررسی و تأیید پرداخت‌های کارت‌به‌کارت تنها در روزهای کاری انجام می‌شود.</p>
    <p class="my-1 py-1 custom-text ">در روش پرداخت در محل، من مارکت مجاز به لغو سفارش تا ۲۴ ساعت پس از ثبت است.</p>
    <h5 class="my-1 py-1   ">شرایط دریافت کالا</h5>
    <p class="my-1 py-1 custom-text ">در صورت غیبت خریدار در محل تحویل، تلاش مجدد انجام خواهد شد. در صورت عدم پاسخ‌گویی
        ظرف ۲۴ ساعت، سفارش لغو می‌شود.</p>
    <p class="my-1 py-1 custom-text ">برای انتخاب گزینه «حمل تا طبقه چهارم»، اگر پله‌های ساختمان بیش از ۶ عدد باشد، منزل
        در طبقه دوم یا بالاتر در نظر گرفته خواهد شد.</p>
    <h5 class="my-1 py-1   ">خسارت در حمل‌ونقل</h5>
    <p class="my-1 py-1 custom-text ">کلیه کالاهای ارسالی توسط من مارکت، به‌صورت کامل تحت پوشش بیمه مرسولات پستی قرار
        می‌گیرند.</p>
    <p class="my-1 py-1 custom-text ">خریدار موظف است هنگام تحویل، وضعیت ظاهری بسته را بررسی نماید. در صورت وجود
        آسیب‌دیدگی یا هرگونه ایراد ناشی از حمل، مراتب باید در حضور مأمور شرکت حمل‌ونقل به‌صورت رسمی صورت‌جلسه شده و از
        تحویل کالا خودداری شود.</p>
    <p class="my-1 py-1 custom-text ">همچنین، خریدار موظف است حداکثر ظرف مدت ۲ ساعت پس از دریافت سفارش، هرگونه ایراد یا
        آسیب ظاهری را به من مارکت اطلاع دهد. در صورت تأخیر در اعلام، مسئولیتی متوجه فروشگاه نخواهد بود.</p>
    <p class="my-1 py-1 custom-text ">در صورت وجود نقص فنی در کالا، بازگشت آن تنها ظرف مدت ۷ روز کاری و پس از تأیید
        کارشناسان فنی امکان‌پذیر است. هزینه ارسال در این موارد بر عهده من مارکت خواهد بود.</p>
</main>


{% endblock content %}