
{% extends 'base.html' %}

{% block title %}
    target
{% endblock title %}

{% block content %}
    

<main class="d-flex justify-content-center flex-column my-5 container">

    <h5 class="  py-2 my-1">اهداف و تعهدات ما</h5>
    <p class="my-1 py-2 custom-text  ">در من مارکت، هدف ما تنها فروش کالا نیست؛ ما به‌دنبال خلق تجربه‌ای لذت‌بخش، مطمئن و دوستانه در فرآیند خرید آنلاین هستیم. تیم پشتیبانی و مدیریتی ما با چشم‌اندازی بلندمدت و برنامه‌ریزی دقیق، مسیر توسعه فروشگاه را به‌گونه‌ای ترسیم کرده‌اند که اعتماد، وفاداری و رضایت مشتریان، در مرکز آن قرار داشته باشد.</p>
    <p class="my-1 py-2 custom-text  ">ما باور داریم که موفقیت پایدار فقط با رضایت واقعی مشتریان و تبدیل آن‌ها به مشتریان وفادار و در نهایت مشتریان طرفدار به دست می‌آید.</p>
    <h5 class=" py-2 my-1">مهم‌ترین اهداف و اصول کاری ما در من مارکت:</h5>
    <p class="my-1 py-2 custom-text ">ارائه‌ی اطلاعات دقیق، کامل و به‌روز از کلیه محصولات</p>
    <p class="my-1 py-2 custom-text ">عرضه‌ی کالاهایی که اعتبار آن‌ها از کیفیت واقعی‌شان می‌آید، نه صرفاً تبلیغات</p>
    <p class="my-1 py-2 custom-text ">همکاری با تأمین‌کنندگان معتبر، باسابقه و دارای چشم‌انداز بلندمدت</p>
    <p class="my-1 py-2 custom-text ">پاسخ‌گو بودن کامل من مارکت در برابر تمامی محصولات عرضه‌شده</p>
    <p class="my-1 py-2 custom-text ">انتخاب برندهایی پایدار که حضورشان در بازار زودگذر و مقطعی نباشد</p>
    <p class="my-1 py-2 custom-text ">تبدیل شدن به یک مرجع معتبر اطلاعات برای کاربران و حتی سایر فروشگاه‌ها</p>
    <p class="my-1 py-2 custom-text ">پشتیبانی واقعی از مشتری، قبل، حین و پس از خرید</p>
    <p class="my-1 py-2 custom-text ">همراهی خریداران در استفاده از خدمات گارانتی و پشتیبانی پس از فروش</p>
    <p class="my-1 py-2 custom-text ">تضمین قیمت‌های رقابتی و موجودی به‌روز تمامی محصولات فروشگاه</p>
    <p class="my-1 py-2 custom-text ">حمایت از حقوق خریداران در برابر شرکت‌های تأمین‌کننده یا گارانتی‌کننده</p>
    <p class="my-1 py-2 custom-text ">ایفای نقش مسئولیت اجتماعی با هدف ایجاد ارزش‌افزوده برای جامعه مشتریان</p>
    <p class="my-1 py-2 custom-text ">ایجاد آرامش در خرید با امکاناتی مانند: پرداخت آنلاین امن، ارسال سریع، تضمین اصالت و کیفیت کالا</p>
    <p class="my-1 py-2 custom-text ">تلاش مداوم برای بهبود تجربه کاربری و ارتقاء کیفیت خدمات</p>
    <p class="my-1 py-2 custom-text ">در من مارکت ما به آینده فکر می‌کنیم؛ آینده‌ای که در آن، مشتریان نه فقط خریدار، بلکه همراهان همیشگی ما باشند.</p>
</main>


{% endblock content %}
