{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% load jalali_fa %}

{% load blog_tags %}

{% block title %}
نقد محصولات دیجیتال | من مارکت
{% endblock title %}


{% block meta_description %}
<meta name="description"
    content="مطالب آموزشی، نقد و بررسی محصولات دیجیتال و راهنمای خرید در بلاگ من‌مارکت. با ما به‌روز بمانید." />

{% endblock meta_description %}



{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
{% endblock extra_css %}

{% block extra_csss %}
<link rel="stylesheet" href="{% static 'css/blogs.css' %}">
{% endblock extra_csss %}

{% block content %}

<div class="b-cs-blog-mobile-filter-fab">
    <button class="b-cs-blog-btn-open-filters-fab">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em">
            <g fill="none" stroke="currentColor" stroke-linecap="round">
                <path d="M5 12V4m14 16v-3M5 20v-4m14-3V4m-7 3V4m0 16v-9"></path>
                <circle cx="5" cy="14" r="2"></circle>
                <circle cx="12" cy="9" r="2"></circle>
                <circle cx="19" cy="15" r="2"></circle>
            </g>
        </svg>
    </button>
</div>

<div class="b-cs-blog-mobile-dashboard-menu ">
    <div class="b-cs-blog-dashboard-header">
        <h3 class="title">فیلترها</h3>
        <button class="b-cs-blog-btn-close-menu">
            &times;
        </button>
    </div>
    <div class="b-cs-blog-dashboard-content">
        <div class="b-cs-blog-widget">
            <h3 class="b-cs-blog-widget-title">دسته‌بندی‌ها</h3>
            <ul class="b-cs-blog-category-list">
                {% for category in categorys %}
                <li><a href="{% url 'blog:blog-list' %}?category={{ category.slug }}"
                        class="b-cs-blog-category-link"><span>{{ category.name }}</span> <span
                            class="b-cs-blog-category-count">{{ category.post_count }}</span></a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="b-cs-blog-widget">
            <h3 class="b-cs-blog-widget-title">برچسب‌ها</h3>
            <div class="b-cs-blog-tags-cloud">
                {% for tag in tags %}
                <a href="{% url 'blog:blog-list' %}?tag={{ tag.slug }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

<div class="b-cs-blog-mobile-menu-overlay"></div>

<main class="b-cs-blog-container py-5">
    <div class=" b-cs-blog-page-title mt-5">
        <h3 class=" text-dark w-center py-3">من بلاگ </h3>
    </div>

    <div class="b-cs-blog-main-layout py-5">
        <div class="b-cs-blog-content-area">
            <div class="b-cs-blog-post-grid">
                {% for obj in object_list %}
                <a href="{% url 'blog:blog-detail' slug=obj.slug %}" class="b-cs-blog-post-card">
                    <div class="b-cs-blog-card-image">
                        <img src="{{obj.image.url}}" alt="{{obj.title}}">
                        {% with obj.category.all|first as cat %}
                        {% if cat %}
                        <span class="b-cs-blog-card-category">{{ cat }}</span>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="b-cs-blog-card-content">
                        <h6 class="b-cs-blog-card-title">{{obj.title}}</h6>
                        <p class="b-cs-blog-card-meta">{{obj.created_at|to_jalali_farsi}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
            {% if is_paginated %}
            <div class="b-cs-blog-pagination">
                {% if page_obj.has_previous %}
                <a class="px-1 py-1" href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                {% endif %}
                {% for num in paginator.page_range %}
                {% if page_obj.number == num %}
                <a href="#" class="active px-1 py-1">{{ num }}</a>
                {% else %}
                <a class="px-1 py-1" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <a class="px-1 py-1" href="?page={{ page_obj.next_page_number }}">بعدی</a>
                {% endif %}

            </div>
            {% endif %}
        </div>

        <aside class="b-cs-blog-sidebar b-none">
            <div class="b-cs-blog-widget">
                <h6 class="b-cs-blog-widget-title">جستجو در بلاگ</h6>
                <div class="b-cs-blog-search-box">
                    <form hidden method="get" id="search-form">
                    </form>
                        <input form="search-form" name="search" type="text" placeholder="جستجو...">

                    <button form="search-form" type="submit" class="m-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14z" />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="b-cs-blog-widget">
                <h6 class="b-cs-blog-widget-title">دسته‌بندی‌ها</h6>
                <ul class="b-cs-blog-category-list" style="height: 300px;">
                    {% for category in categorys %}
                    <li><a href="{% url 'blog:blog-list' %}?category={{ category.slug }}" class="b-cs-blog-category-link"><span>{{ category.name }}</span> <span
                                class="b-cs-blog-category-count">{{ category.post_count }}</span></a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="b-cs-blog-widget">
                <h6 class="b-cs-blog-widget-title">برچسب‌های محبوب</h6>
                <div class="b-cs-blog-tags-cloud">
                    {% for tag in tags %}
                    <a href="{% url 'blog:blog-list' %}?tag={{ tag.slug }}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </aside>
    </div>
</main>

{% endblock content %}


{% block extra_js %}
<script src="{% static 'js/single.blog.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock extra_js %}