{% extends 'dashboard/admin/base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<style>
    .small-primary-button {
        padding: 3px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 10px;
        border-radius: 5px;
    }

    .small-primary-button:hover,
    .small-primary-button:focus {
        background-color: #0056b3;
    }
</style>
{% endblock %}


{% block content %}
<div class="row">
    {% include 'dashboard/admin/sidebar.html' %}
    <div class="col-md-9">
        <div>
            <div class="card mb-5">
                <!-- Header -->
                <div class="card-header border-bottom d-flex justify-content-between align-items-center">
                    <h5 class="card-header-title">ویرایش محصول ثبت شده </h5>

                </div>
                <!-- End Header -->

                <!-- Body -->
                <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row d-flex ">
                            <div style="margin-top: 28px;" class="col-md-6 mb-3">
                                <label>نام محصول </label>
                                {{form.product}}
                            </div>
                            <div style="margin-top: 28px;" class="col-md-6 mb-3">
                                <label>آدرس محصول دیجیکالا </label>
                                {{form.url}}
                            </div>




                        </div>
                        <div class="card-footer">
                            <div class=" d-flex pt-5 justify-content-end">
                                <a class="btn btn-danger ms-3"
                                    href="{% url 'dashboard:admin:specification-delete' pk=object.pk %}">حذف</a>
                                <a class="btn btn-secondary ms-3"
                                    href="{% url 'dashboard:admin:specification-list' %}">بازگشت</a>
                                <button class="btn btn-primary ms-3" type="submit">ثبت تغییرات</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <div class="">
        <div class="card mb-5">
            <!-- Header -->
            <div class="card-header border-bottom d-flex justify-content-between align-items-center">
                <h5 class="card-header-title">مشخصات های محصول</h5>
                <a class="btn btn-primary" href="{% url 'dashboard:admin:specification-add-one' pk=object.product.id %}">افزودن
                    ویژگی جدید</a>
            </div>
            <!-- End Header -->
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">مشخصات </th>
                            <th scope="col">مقدار</th>
                            <th scope="col">عملیات</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for sep in object.product.specifications.all %}
                        <tr>
                            <th scope="row">{{sep.name}}</th>
                            <td>{{sep.value}}</td>


                            <td class="d-flex">
                                {{spec}}
                                <a class="btn btn-success btn-sm btn-icon btn-ghost-secondary"
                                    href="{% url 'dashboard:admin:specification-edit-one'  pk=sep.id prduct_pk=object.product.id %}"><i
                                        class="bi-pencil-square">eidt</i></a>

                                
                                <a class="btn btn-sm btn-danger btn-icon btn-ghost-primary" target="_blank"
                                    href="{% url 'dashboard:admin:product-color-delete' pk=sep.id prduct_pk=object.product.id  %}"><i
                                        class="bi-eye">delete</i></a>
                                
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

{% endblock %}