{% extends 'dashboard/admin/layout.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<style>
    .small-primary-button {
        padding: 3px 10px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 10px;
        border-radius: 5px;
    }

    .small-primary-button:hover,
    .small-primary-button:focus {
        background-color: #0056b3;
    }
</style>
{% endblock %}

{% block content %}
<div>
            <div class="card mb-6">
                <!-- Header -->
                <div class="card-header flex justify-between items-center">
                    <h5 class="card-header-title">ویرایش محصول ثبت شده </h5>

                </div>
                <!-- End Header -->

                <!-- Body -->
                <form action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="grid grid-cols-12 gap-x-4 flex">
                            <div class="col-span-12 md:col-span-6 mb-4">
                                <label>نام محصول </label>
                                {{form.product}}
                            </div>
                            <div class="col-span-12 md:col-span-6 mb-4">
                                <label>آدرس محصول دیجیکالا </label>
                                {{form.url}}
                            </div>
                            <div class="col-span-12 md:col-span-6 mb-4">
                                <label>تعداد نظرات دیجیکالا </label>
                                {{form.number_comments}}
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="flex pt-6 justify-end">
                                <a class="btn btn-danger" href="{% url 'dashboard:admin:specification-delete' pk=object.pk %}">حذف</a>
                                <a class="btn btn-secondary" href="{% url 'dashboard:admin:specification-list' %}">بازگشت</a>
                                <button class="btn btn-primary" type="submit">ثبت تغییرات</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <div >
        <div class="card mb-6">
            <!-- Header -->
            <div class="card-header flex justify-between items-center">
                <h5 class="card-header-title">مشخصات های محصول</h5>
                <a class="btn btn-primary" href="{% url 'dashboard:admin:specification-add-one' pk=object.product.id %}">افزودن
                    ویژگی جدید</a>
            </div>
            <!-- End Header -->
            <div class="table-wrap">
                <table class="table">
                    <thead >
                        <tr>
                            <th scope="col">مشخصات </th>
                            <th scope="col">مقدار</th>
                            <th scope="col">ویژگی اصلی</th>
                            <th scope="col">عملیات</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for sep in object.product.specifications.all %}
                        <tr>
                            <th scope="row">{{sep.name}}</th>
                            <td>{{sep.value}}</td>
                            
                            {% if sep.status == False %}
                                <td>خیر</td>
                                {% else %}
                                <td>بله</td>
                            {% endif %}
                                
                            

                            <td class="flex">
                                {{spec}}
                                <a class="btn btn-ghost-secondary btn-sm" href="{% url 'dashboard:admin:specification-edit-one' pk=sep.id prduct_pk=object.product.id %}"><svg class="i h-4 w-4" viewBox="0 0 24 24"><use href="#i-edit"/></svg><span>ویرایش</span></a>

                                
                                <a class="btn btn-ghost-primary btn-sm" target="_blank" href="{% url 'dashboard:admin:specification-one-delete' pk=sep.id prduct_pk=object.product.id %}"><svg class="i h-4 w-4" viewBox="0 0 24 24"><use href="#i-trash"/></svg><span>حذف</span></a>
                                
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}