{% extends 'dashboard/admin/layout.html' %}
{% load static %}

{% block content %}
<!-- Card -->
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="card-header-title">ویرایش ویژگی</h4>
            </div>

            <form action="{% url 'dashboard:admin:specification-edit-one'  pk=object.id prduct_pk=object.product.id %}" method="post">
                <!-- Body -->
                <div class="card-body">
                    <!-- Form -->

                    {% csrf_token %}

                    <!-- Form -->
                    <div class="grid grid-cols-12 gap-x-4">
                        <div class="col-span-12 md:col-span-6 mb-5">
                            <label >مشخصات</label>
                            {{ form.name }}
                        </div>
                        <div class="col-span-12 md:col-span-6 mb-5">
                            <label >مقدار</label>
                            {{ form.value }}
                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-x-4">
                        <div class="col-span-12 md:col-span-6 mb-5">
                            <label >ویژگی اصلی</label>
                            {{ form.status }}
                        </div>
                    </div>
                <!-- End Body -->
                    
                <!-- Footer -->
                <div class="card-footer pt-0">
                    <div class="flex justify-end gap-3">
                        <a class="btn btn-secondary" href="{% url 'dashboard:admin:specification-edit' pk=spec.id %}">بازگشت</a>
                        <button class="btn btn-primary" type="submit">ذخیره تغییرات</button>
                    </div>
                </div>
            </form>
            <!-- End Footer -->
        </div>
        <!-- End Card -->
    </div>

{% endblock %}