{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap/boot.rtl.css' %}">
{% endblock extra_css %}

{% block title %}فروشگاه{% endblock title %}
{% block content %}

<div class="container-fluid my-3 fill-page-container mt-5 pt-4">
    <div class="row gx-3 h-100">

        <form class="col-lg-3 fill-filters-sidebar-container mb-3 mb-lg-0" method="get" action="." id="mobileFiltersForm">
            <div class="fill-filters-sidebar-content-wrapper">
                <div class="fill-sidebar-header">فیلتر محصولات</div>
                <div class="accordion" id="filtersAccordion">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingPrice">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapsePrice" aria-expanded="false" aria-controls="collapsePrice">
                                <svg class="fill-accordion-header-icon" viewBox="0 0 24 24">
                                    <path
                                        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v2.14c1.72.45 3 2 3 3.86 0 2.21-1.79 4-4 4s-4-1.79-4-4c0-1.86 1.28-3.41 3-3.86V7zm2 5c0 .55-.45 1-1 1s-1-.45-1-1 .45-1 1-1 1 .45 1 1z">
                                    </path>
                                </svg>
                                محدوده قیمت
                                <svg class="fill-accordion-chevron" xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </button>
                        </h2>
                        <div id="collapsePrice" class="accordion-collapse collapse" aria-labelledby="headingPrice"
                            data-bs-parent="#filtersAccordion">
                            <div class="accordion-body">
                                <div class="fill-price-slider-container">
                                    <div class="fill-price-slider-track" id="priceSliderTrack">
                                        <div class="fill-price-slider-range" id="priceSliderRange"></div>
                                        <div class="fill-price-slider-handle" id="minPriceHandle"
                                            data-handle="min-visual"></div>
                                        <div class="fill-price-slider-handle" id="maxPriceHandle"
                                            data-handle="max-visual"></div>
                                    </div>
                                </div>
                                <div class="fill-price-display">
                                    از <span id="minPriceDisplay">-</span> تا <span id="maxPriceDisplay">-</span> تومان
                                </div>
                                <input type="hidden" value="{{ min_price_all }}" id="min_db_html">
                                <input type="hidden" value="{{ max_price_all }}" id="max_db_html">
                                <input type="hidden" form="mobileFiltersForm" name="min_price" id="minPriceValue">
                                <input type="hidden" form="mobileFiltersForm" name="max_price" id="maxPriceValue">
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingCategory">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseCategory" aria-expanded="false"
                                aria-controls="collapseCategory">
                                <svg class="fill-accordion-header-icon" viewBox="0 0 24 24">
                                    <path
                                        d="M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58s1.05-.22 1.41-.58l7-7c.79-.78.79-2.05 0-2.83zm-9.41 8.83L4 11.81V4h7l9 9-7.59 7.59zM6.5 7.5c-.83 0-1.5-.67-1.5-1.5S5.67 4.5 6.5 4.5 8 5.17 8 6s-.67 1.5-1.5 1.5z">
                                    </path>
                                </svg>
                                دسته بندی
                                <svg class="fill-accordion-chevron" xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </button>
                        </h2>
                        <div id="collapseCategory" class="accordion-collapse collapse" aria-labelledby="headingCategory"
                            data-bs-parent="#filtersAccordion">
                            <div class="accordion-body fill-filter-options-list" id="categoryFilterContainer">
                                {% for category in categories %}
                                <div class="fill-filter-option">
                                    <input type="checkbox" name="category" form="mobileFiltersForm" id="category-filter-{{category.id}}"
                                        value="{{category.slug}}" {% if category.slug in selected_categories %}checked{% endif %}>
                                    <label for="category-filter-{{category.id}}">{{category.title}}<span
                                            class="fill-custom-tick-container"><svg class="fill-tick-icon"
                                                viewBox="0 0 16 16">
                                                <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                            </svg></span></label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingBrand">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseBrand" aria-expanded="false" aria-controls="collapseBrand">
                                <svg class="fill-accordion-header-icon" viewBox="0 0 24 24">
                                    <path
                                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27z">
                                    </path>
                                </svg>
                                برند
                                <svg class="fill-accordion-chevron" xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                </svg>
                            </button>
                        </h2>
                        <div id="collapseBrand" class="accordion-collapse collapse" aria-labelledby="headingBrand"
                            data-bs-parent="#filtersAccordion">
                            <div class="accordion-body fill-filter-options-list" id="brandFilterContainer">
                                {% for brand in brands %}
                                <div class="fill-filter-option">
                                    <input type="checkbox" form="mobileFiltersForm" name="brand" id="brand-filter-{{brand.id}}"
                                        value="{{brand.slug}}" {% if brand.slug in selected_brands %}checked{% endif %}>
                                    <label for="brand-filter-{{brand.id}}">{{brand}}<span
                                            class="fill-custom-tick-container"><svg class="fill-tick-icon"
                                                viewBox="0 0 16 16">
                                                <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                            </svg></span></label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fill-clear-filters-container px-3">
                    <button id="clearFiltersButton" class="btn theme-color d-block" type="submit" form="mobileFiltersForm">
                        <svg viewBox="0 0 24 24">
                            <path
                                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z">
                            </path>
                        </svg>
                        پاک کردن فیلترها
                    </button>
                    <button id="applyFiltersMobileButton" class="btn theme-color" form="mobileFiltersForm" type="submit">
                        اعمال فیلترها
                    </button>
                </div>
            </div>
        </form>

        <main class="col-lg-9 py-3 d-flex flex-column fill-main-content mt-0">

            <div class="accordion-item d-n-fill">
                <div>
                    <div class="accordion-body fill-filter-options-list d-flex">
                        <div class="fill-filter-option b-none w-center">
                            <label class="mx-0"> مرتب سازی بر اساس : </label>
                        </div>
                        <div class="fill-filter-option b-none w-center">
                            <input type="radio" id="sort-filter-2" value="newest" {% if selected_order == "newest" %}checked{% endif %}>
                            <label for="sort-filter-2">جدیدترین
                            </label>
                        </div>
                        <div class="fill-filter-option b-none w-center">
                            <input type="radio" id="sort-filter-1" name="sortOption" value="popular" {% if selected_order == "popular" %}checked{% endif %}>
                            <label for="sort-filter-1">محبوب ترین
                            </label>
                        </div>

                        <div class="fill-filter-option b-none w-center">
                            <input type="radio" id="sort-filter-3" name="sortOption" value="cheap" {% if selected_order == "cheap" %}checked{% endif %}>
                            <label for="sort-filter-3">ارزان ترین
                            </label>
                        </div>
                        <div class="fill-filter-option b-none w-center">
                            <input type="radio" id="sort-filter-4" name="sortOption" value="expensive" {% if selected_order == "expensive" %}checked{% endif %}>
                            <label for="sort-filter-4">گران‌ترین
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div id="mobileFilterBar" class="mobile-filter-bar">
                <div class="mobile-filter-bar-wrapper">

                    <div class="layout-toggle-container">
                        <button class="btn-filter-chip btn-layout-toggle" id="layoutToggleButton" title="تغییر چینش">
                            <span class="layout-icon-container">
                                <svg class="layout-icon grid-icon" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24" width="1em" height="1em">
                                    <path fill="currentColor"
                                        d="M4 8h4V4H4zm6 12h4v-4h-4zm-6 0h4v-4H4zm0-6h4v-4H4zm6 0h4v-4h-4zm6-10v4h4V4zm-6 4h4V4h-4zm6 6h4v-4h-4zm0 6h4v-4h-4z">
                                    </path>
                                </svg>
                            </span>
                        </button>
                        <div class="layout-popover" id="layoutPopover">
                            <button class="layout-option" data-layout="grid" title="نمایش گرید">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em">
                                    <path fill="currentColor"
                                        d="M4 8h4V4H4zm6 12h4v-4h-4zm-6 0h4v-4H4zm0-6h4v-4H4zm6 0h4v-4h-4zm6-10v4h4V4zm-6 4h4V4h-4zm6 6h4v-4h-4zm0 6h4v-4h-4z">
                                    </path>
                                </svg>
                            </button>
                            <button class="layout-option" data-layout="list" title="نمایش لیست">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em">
                                    <path fill="currentColor" d="M3 4h18v2H3zm0 7h18v2H3zm0 7h18v2H3z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="scrollable-filter-chips">
                        <button class="btn-filter-chip" type="button" data-filter-target="all">
                            <svg viewBox="0 0 24 24">
                                <path d="M10 18h4v-2h-4v2zM3 6v2h18V6H3zm3 7h12v-2H6v2z"></path>
                            </svg>
                            <span>فیلترها</span>
                        </button>
                        <button class="btn-filter-chip mobile-filter {% if selected_order == "popular" %}active{% endif %}" id="mobile-popular" data-sort-option="popular"><span>محبوب‌ترین</span></button>
                        <button class="btn-filter-chip mobile-filter {% if selected_order == "newest" %}active{% endif %}" id="mobile-newest" data-sort-option="newest"><span>جدیدترین</span></button>
                        <button class="btn-filter-chip mobile-filter {% if selected_order == "cheap" %}active{% endif %}" id="mobile-price-asc" data-sort-option="cheap"><span>ارزان‌ترین</span></button>
                        <button class="btn-filter-chip mobile-filter {% if selected_order == "expensive" %}active{% endif %}" id="mobile-price-desc" data-sort-option="expensive"><span>گران‌ترین</span></button>

                    </div>
                </div>
            </div>

            <div id="resultsGridContainer" class="flex-grow-1">
                <div id="resultsGrid" class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 py-2">
                    {% for object in object_list %}

                    <div class="col box-cs pc-s"
                        data-price="{% if object.min_discounted_price == None %}ناموجود{% else %}{{object.min_discounted_price|intcomma}}{% endif %}"
                        data-category="{{object.category}}" data-brand="{{object.brand}}" data-id="p{{object.id}}">
                        <a target="_blank" href="{% url 'shop:product-detail' slug=object.slug %}"
                            class="fill-product-card-link d-block h-100">
                            <div class="card h-100 fill-product-card">
                                <img src="{{object.image.url}}" class="card-img-top fill-product-card-img"
                                    alt="گوشی آیفون 13">
                                <div class="card-body d-flex flex-column w-right">
                                    <h5 class="card-title"> {{object.title}}</h5>
                                    <div class="fill-card-brand my-1">{{object.category}}</div>
                                    <p class="card-text fill-description flex-grow-1">{{object.brief_description}}</p>
                                    <p class="card-price py-1 px-2 ">
                                        <span class="fill-price-value">{% if object.min_discounted_price == None %}
                                            ناموجود{% else %}{{object.min_discounted_price|intcomma}}تومان {% endif %}</span>
                                        <span class="money-icon"></span>
                                    </p>
                                    <div dir="ltr"
                                        class="position-absolute d-flex justify-content-center colors-search mt-1 align-items-center flex-column">

                                        {% with object.color_inventories.all as colors %}
                                        {% for inventory in colors %}

                                        {% if inventory.price == 0 or inventory.price == None %}

                                        {% else %}
                                        
                                        {% if inventory.hex_color == "#ffffff" %}
                                            <span class="mx-1 one-color mt-1"
                                            style="background-color: {{ inventory.hex_color }}; border:1px solid gray">
                                            <span class="">

                                            </span>
                                        </span>
                                        {% else %}
                                            

                                        <span class="mx-1 one-color mt-1"
                                            style="background-color: {{ inventory.hex_color }};">
                                            <span class="">

                                            </span>
                                        </span>
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                        {% endwith %}

                                    </div>
                                    <span class="cs-sc-star align-items-center d-flex justify-content-center">
                                        <svg class="star rated  cs-star mb-1 mx-1" viewBox="0 0 24 24">
                                            <polygon points="12 2 15 10 24 10 17 15 19 23 12 18 5 23 7 15 0 10 9 10" />
                                        </svg>
                                        {{object.avg_rate}}
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                
                {% if not object_list  %}                
                <h3>
                    محصولی برای نمایش وجود ندارد.
                </h3>
                {% endif %}
                {% if page_obj.has_other_pages %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">

                        {# قبلی #}
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <button class="page-link" onclick="changePage(`{{ page_obj.previous_page_number }}`)"
                                aria-label="Previous">
                                <span aria-hidden="true">
                                    <i class="bi bi-chevron-double-right small">قبلی</i>
                                </span>
                            </button>
                        </li>
                        {% else %}
                        <li class="page-item disabled" hidden>
                            <button class="page-link" tabindex="-1" aria-disabled="true">
                                <span aria-hidden="true">
                                    <i class="bi bi-chevron-double-right small"></i>
                                </span>
                            </button>
                        </li>
                        {% endif %}

                        {# صفحات #}
                        {% for i in page_obj.paginator.page_range %}
                        {% if i == page_obj.number %}
                        <li class="page-item active">
                            <button class="page-link">{{ i }}</button>
                        </li>
                        {% elif i >= page_obj.number|add:'-1' and i <= page_obj.number|add:'1' %} <li class="page-item">
                            <button class="page-link" onclick="changePage(`{{ i }}`)">{{ i }}</button>
                            </li>
                            {% elif i == 1 or i == page_obj.paginator.num_pages %}
                            <li class="page-item">
                                <button class="page-link" onclick="changePage(`{{ i }}`)">{{ i }}</button>
                            </li>
                            {% elif i == page_obj.number|add:'-3' or i == page_obj.number|add:'3' %}
                            <li class="page-item disabled"><span class="page-link">...</span></li>
                            {% endif %}
                            {% endfor %}

                            {# بعدی #}
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <button class="page-link" onclick="changePage(`{{ page_obj.next_page_number }}`)"
                                    aria-label="Next">
                                    <span aria-hidden="true">
                                        <i class="bi bi-chevron-double-left small">بعدی </i>
                                    </span>
                                </button>
                            </li>
                            {% else %}
                            <li class="page-item disabled" hidden>
                                <button class="page-link" tabindex="-1" aria-disabled="true">
                                    <span aria-hidden="true">
                                        <i class="bi bi-chevron-double-left small"></i>
                                    </span>
                                </button>
                            </li>
                            {% endif %}

                    </ul>
                </nav>
                {% endif %}

            </div>
        </main>

    </div>
</div>

<div class="filters-bottom-sheet-overlay rounded-3" id="filtersBottomSheetOverlay"></div>


<div class="filters-bottom-sheet rounded-3" id="filtersBottomSheet">
    <div class="filters-bottom-sheet-header">
        <span class="title">فیلتر محصولات</span>
        <button class="btn-close-sheet" id="closeBottomSheetButton" aria-label="بستن">×</button>
    </div>
    <div class="filters-bottom-sheet-content" id="bottomSheetFilterContent">
    </div>
</div>


{% endblock content %}


{% block extra_jss %}
<script>

    $(document).ready(function () {
        let current_url_params = new URLSearchParams(window.location.search)
        $("#order-by-filter").val(current_url_params.get("order_by") || "")
        $("#search-query-filter").val(current_url_params.get("q") || "")
        $("#min-price-filter").val(current_url_params.get("min_price") || "")
        $("#max-price-filter").val(current_url_params.get("max_price") || "")

    });
    $('#page-size-filter').change(function () {
        let current_url_params = new URLSearchParams(window.location.search)
        var selectedOption = $(this).val();
        current_url_params.set("page_size", selectedOption)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    });
    $('.order_by-tabs-options .nav-link').click(function (e) {
        e.preventDefault();
        let orderByValue = $(this).data('order-by');
        if (orderByValue) {
            let current_url_params = new URLSearchParams(window.location.search);
            current_url_params.set("order_by", orderByValue);
            let new_url = window.location.pathname + "?" + current_url_params.toString();
            window.location.href = new_url;
        }
    });
    $('#sort-filter-2').change(function () {
        let current_url_params = new URLSearchParams(window.location.search)
        var selectedOption = $(this).val();
        current_url_params.set("order_by", selectedOption)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    });
    $('#sort-filter-1').change(function () {
        let current_url_params = new URLSearchParams(window.location.search)
        var selectedOption = $(this).val();
        current_url_params.set("order_by", selectedOption)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    });
    $('#sort-filter-3').change(function () {
        let current_url_params = new URLSearchParams(window.location.search)
        var selectedOption = $(this).val();
        current_url_params.set("order_by", selectedOption)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    });
    $('#sort-filter-4').change(function () {
        let current_url_params = new URLSearchParams(window.location.search)
        var selectedOption = $(this).val();
        current_url_params.set("order_by", selectedOption)
        let new_url = window.location.pathname + "?" + current_url_params.toString()
        window.location.href = new_url
    });

</script>

<script>
    $(document).ready(function () {
        $('.mobile-filter').click(function (e) {
            e.preventDefault();  // برای جلوگیری از رفتار پیش‌فرض دکمه (مثلاً در فرم)

            let selectedOption = $(this).data('sort-option');  // خواندن از data-sort-option
            let current_url_params = new URLSearchParams(window.location.search);
            current_url_params.set("order_by", selectedOption);

            let new_url = window.location.pathname + "?" + current_url_params.toString();
            window.location.href = new_url;
        });
    });
</script>

<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
{% endblock extra_jss %}