{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>checkout</title>


    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/logo/logo_header3.png' %}">
    <link rel="stylesheet" href="{% static 'vendor/toastify/toastify.css' %}">
</head>

<body class="my-3 py-3">



    <div class="shop-cs-container">
        <div class="shop-cs-checkout-layout">
            <main class="shop-cs-checkout-main">
                <section class="shop-cs-checkout-card py-1">
                    <a class="mx-2 back-to d-inline  mt-4" href="{% url 'cart:cart-summery' %}" style="right: 10px">
                        <svg class="cs-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="35px"
                            height="35px">
                            <path fill="currentColor" fill-rule="evenodd"
                                d="M2 10a.75.75 0 0 1 .75-.75h12.59l-2.1-1.95a.75.75 0 1 1 1.02-1.1l3.5 3.25a.75.75 0 0 1 0 1.1l-3.5 3.25a.75.75 0 1 1-1.02-1.1l2.1-1.95H2.75A.75.75 0 0 1 2 10"
                                clip-rule="evenodd"></path>
                        </svg>
                    </a>
                    <div class="shop-cs-card-header">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path
                                d="M12 2C7.589 2 4 5.589 4 10c0 4.411 8 12 8 12s8-7.589 8-12c0-4.411-3.589-8-8-8zm0 12c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z">
                            </path>
                        </svg>
                        <h1 class="shop-cs-card-title text-dark">آدرس تحویل سفارش</h1>
                        <div class="shop-cs-card-header-actions">
                            <button class="shop-cs-btn shop-cs-btn--secondary" id="btn-toggle-address">
                                تغییر آدرس
                                <svg class="chevron-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="currentColor">
                                    <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="shop-cs-card-body">
                        <div id="active-address-display">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" viewBox="0 0 24 24">
                                <path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path>
                            </svg>
                            <div class="address-details-wrapper"></div>
                        </div>
                        <div id="address-list-collapsible">
                            <form action="." method="post" id="address-form">

                                {% csrf_token %}
                                {% for address in addresses %}
                                <div class="shop-cs-address-option shop-cs-selectable-option">
                                    <input type="radio" name="address_id" value="{{ address.id }}"
                                        id="address-{{ forloop.counter }}" {% if forloop.first %}checked{% endif %}>

                                    <label for="address-{{ forloop.counter }}" class="shop-cs-selectable-label">
                                        <span class="shop-cs-custom-tick-container">
                                            <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                                <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                            </svg>
                                        </span>
                                        <div class="shop-cs-address-details">
                                            <strong>{{ address.state }}</strong>
                                            <p>{{ address.state }}, {{ address.city }}, {{ address.address }}
                                                ,{{address.zip_code }}</p>
                                        </div>
                                    </label>
                                </div>
                                {% endfor %}

                                <a href="{% url 'dashboard:customer:address-list' %}"
                                    class="shop-cs-btn shop-cs-btn--secondary" style="margin-top: 10px;" role="button">+
                                    افزودن آدرس جدید</a>
                            </form>
                        </div>
                    </div>
                </section>
                <section class="shop-cs-checkout-card p-0">
                    <div class="shop-cs-card-header">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path
                                d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8a1 1 0 0 0 .93-.64L21.99 8.431a1 1 0 0 0-.168-1z">
                            </path>
                            <circle cx="10.5" cy="19.5" r="1.5"></circle>
                            <circle cx="17.5" cy="19.5" r="1.5"></circle>
                        </svg>
                        <h2 class="shop-cs-card-title">سبد خرید شما ({{cart.get_total_quantity}} کالا)</h2>
                    </div>
                    <div class="shop-cs-card-body shop-cs-card-body--no-padding" id="cart-items-list">
                        {% for item in cart_items %}
                        <div class="shop-cs-cart-item-s">
                            <img src="{{item.product_obj.image.url}}" alt="{{item.product_obj.title}}"
                                style="width:80px; height:80px; object-fit: cover; border-radius: var(--border-radius-md);">
                            <div style="flex-grow: 1;">
                                <h3 style="margin:0 0 8px;">{{item.product_obj.title}}</h3>
                                <div style="font-weight:700;">{{item.total_price|intcomma}}<span
                                        class="shop-cs-price-unit">تومان</span></div>
                            </div>
                            <div class="shop-cs-quantity-control-container">
                                {% if item.quantity == item.color_inventory.stock %}
                                {% else %}
                                <button class="shop-cs-quantity-btn cartexz-qty-button"
                                    onclick="addOneProductQuantity('{{item.product_obj.id}}','{{item.color_inventory.color.id}}')"
                                    data-action="increase" aria-label="افزایش تعداد"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                        <line x1="12" y1="5" x2="12" y2="19"></line>
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                    </svg></button>
                                {% endif %}
                                <span class="shop-cs-quantity-display"
                                    data-quantity="{{item.quantity}}">{{item.quantity}}</span>
                                <button class="shop-cs-quantity-btn cartexz-qty-button"
                                    onclick="removeOneProductQuantity('{{item.product_obj.id}}','{{item.color_inventory.color.id}}')"
                                    aria-label="کاهش تعداد"></button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>

                <section class="shop-cs-checkout-card p-0 pb-5" id="shipment-section">
                    <div class="shop-cs-card-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="currentColor">
                            <path
                                d="M15 11h2.586l-2.293-2.293 1.414-1.414L21.414 12l-4.707 4.707-1.414-1.414L17.586 13H15v-2z">
                            </path>
                            <path
                                d="M13 3H8.667C7.194 3 6 4.194 6 5.667V10H4v10h1v-4h1v4h1v-4h1v4h1v-4h1v4h1V5.667C14 4.194 12.806 3 11.333 3H13V2h-2v1zM9 8H8V6h1v2zm2 0h-1V6h1v2z">
                            </path>
                        </svg>
                        <h2 class="shop-cs-card-title">شیوه و زمان ارسال</h2>
                    </div>

                    <form id="shipment-method-form" class="shop-cs-payment-method-section">
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="tracking_type" value="1" form="address-form" id="shipment-post">
                            <label for="shipment-post" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details"><strong>ارسال با پست عادی (زمان تحویل، 3 الی 5 روز
                                        کاری)</strong></div>
                            </label>
                        </div>
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="tracking_type" value="2" form="address-form" value="mahax"
                                id="shipment-mahax">
                            <label for="shipment-mahax" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details"><strong> ارسال با ماهکس (زمان تحویل، 1 الی 2 روز
                                        کاری) </strong></div>
                            </label>
                        </div>
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="tracking_type" value="3" form="address-form" value="tipax"
                                id="shipment-tipax" checked>
                            <label for="shipment-tipax" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details"><strong>ارسال با تیپاکس (زمان تحویل، 1 الی 2 روز
                                        کاری) </strong></div>
                            </label>
                        </div>
                        {% if request.user.type == 2 or request.user.type == 3 %}
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="tracking_type" value="4" form="address-form" value="person"
                                id="shipment-person" checked>
                            <label for="shipment-person" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details"><strong>حضوری</strong></div>
                            </label>
                        </div>
                        {% endif %}
                    </form>

                </section>
            </main>

            <form class="shop-cs-checkout-sidebar">
                <div class="shop-cs-checkout-card shop-cs-order-summary-card">
                    <div class="shop-cs-card-body shop-cs-card-body--no-padding">
                        <div class="shop-cs-summary-row">
                            <div class="label">قیمت کالاها ({{cart.get_total_quantity}})</div>
                            <div class="value">{{total_price|intcomma}}<span class="shop-cs-price-unit">تومان</span>
                            </div>
                        </div>
                        <div class="shop-cs-summary-row">
                            <div class="label">هزینه بسته بندی ارسال</div>
                            <div class="value">50,000 <span class="shop-cs-price-unit">تومان</span></div>
                        </div>
                        <div class="shop-cs-summary-row">
                            <div class="label">تخفیف کالاها</div>
                            <div class="value" style="color:var(--dk-red)">({{sod|intcomma}}) <span
                                    class="shop-cs-price-unit">تومان</span></div>
                        </div>
                        <div id="total-amount-row" class="shop-cs-summary-row">
                            <div class="label">مبلغ نهایی</div>
                            <div class="value" id="final-amount" data-amount="{{total_price_with_tax|intcomma}}">
                                {{total_price_with_tax|intcomma}}<span class="shop-cs-price-unit">تومان</span></div>
                        </div>
                        <div
                            class="d-flex justify-content-around align-items-center flex-wrap px-3 shop-cs-summary-row">
                            <div class="fs-14">کد تخفیف :</div>
                            <div class="fs-14"><input type="text" class="form-control"></div>
                            <div class="fs-14 w-100 w-center mt-3">
                                <button class="w-50 shop-cs-btn--primary text-light rounded-3">بررسی کد</button>
                            </div>
                        </div>
                    </div>

                    <div id="payment-form" class="shop-cs-payment-method-section">
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="payment_method" form="address-form" value="wallet"
                                id="payment-wallet" data-wallet="{{wallet.balance|floatformat:0|intcomma}}">
                            <label for="payment-wallet" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details">
                                    <strong>پرداخت با کیف پول</strong>
                                    <p id="wallet-text">موجودی: {{wallet.balance|floatformat:0|intcomma}} تومان</p>
                                </div>
                            </label>
                        </div>
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="payment_method" form="address-form" value="zarinpal"
                                id="payment-card" checked>
                            <label for="payment-card" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details">
                                    <strong>پرداخت با کارت بانکی</strong>
                                    <p>پرداخت آنلاین از طریق درگاه امن</p>
                                </div>
                            </label>
                        </div>
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="payment_method" form="address-form" value="gsmpay"
                                id="payment-gsmpay">
                            <label for="payment-gsmpay" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details">
                                    <strong>پرداخت اقساطی</strong>
                                    <p>پرداخت اقساطی از طریق GSMPAY</p>
                                </div>
                            </label>
                        </div>
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="payment_method" form="address-form" value="card_mahax"
                                id="payment-home">
                            <label for="payment-home" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details">
                                    <strong>پرداخت درب محل</strong>
                                    <p>فقط با ارسال توسط ماهکس</p>
                                    <p>پرداخت 10% از مبلغ در ابتدا</p>
                                </div>
                            </label>
                        </div>
                        {% if request.user.type == 2 or request.user.type == 3 %}
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="payment_method" form="address-form" value="person"
                                id="payment-person">
                            <label for="payment-person" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details">
                                    <strong>پرداخت حضوری </strong>
                                    <p></p>
                                </div>
                            </label>
                        </div>
                        {% endif %}
                    </div>

                    <div class="shop-cs-summary-action" style="padding:16px;">
                        <button class="shop-cs-btn shop-cs-btn--primary" style="width: 100%; padding: 12px;"
                            type="submit" form="address-form">ادامه
                            فرآیند خرید</button>
                    </div>
                </div>
            </form>
        </div>
    </div>




    <script src="{% static 'js/shopping.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script>

        function removeProducts(product_id, color_id) {
            $.ajax({
                url: "{%  url 'cart:session-remove-product' %}",
                method: 'POST',
                data: {
                    product_id: product_id,
                    color_id: color_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'

                },
                success: function (response) {
                    console.log(response);
                    window.location.reload();
                    // do something with the response data
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    // handle the error case
                }
            });
        }
    </script>

    <script>
        function removeOneProductQuantity(product_id, color_id) {
            $.ajax({
                url: "{%  url 'cart:session-remove-one-quantity' %}",
                method: 'POST',
                data: {
                    product_id: product_id,
                    color_id: color_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'

                },
                success: function (response) {
                    console.log(response);
                    window.location.reload();
                    // do something with the response data
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    // handle the error case
                }
            });
        }
        function addOneProductQuantity(product_id, color_id) {
            $.ajax({
                url: "{%  url 'cart:session-add-one-quantity' %}",
                method: 'POST',
                data: {
                    product_id: product_id,
                    color_id: color_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'

                },
                success: function (response) {
                    console.log(response);
                    window.location.reload();
                    // do something with the response data
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    // handle the error case
                }
            });
        }
    </script>
    <script src="{% static 'vendor/toastify/toastify.js' %}"></script>

    {% include 'messages.html' %}


</body>

</html>