{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>checkout</title>


    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/logo/logo_header3.png' %}">
    <link rel="stylesheet" href="{% static 'vendor/toastify/toastify.css' %}">
        <style>
    .checkout-steps {
        background: #fff;
        border-radius: 10px;
        padding: 20px 30px;
        border: 1px solid #eee;
        margin-bottom: 1rem;
    }

    .steps {
        list-style: none;
        padding: 0;
        margin: 0;
        position: relative;
    }

    .steps::before {
        content: "";
        position: absolute;
        top: 18px;
        left: 5%;
        right: 5%;
        height: 2px;
        background: #e5e7eb;
        z-index: 0;
    }

    .step {
        position: relative;
        z-index: 1;
        text-align: center;
        flex: 1;
    }

    .circle {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: #e5e7eb;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #555;
    }

    .label {
        display: block;
        margin-top: 6px;
        font-size: 14px;
        color: #555;
    }

    /* مرحله فعال */
    .step.active .circle {
        background: #f96747;
        color: #fff;
    }

    .step.active .label {
        color: #f96747;
    }

    </style>
</head>

<body class="my-3 py-3">



    <div class="shop-cs-container">
    <div class="checkout-steps">
        <ul class="steps d-flex justify-content-between align-items-center">
            <li class="step">
                    <a href="{% url 'cart:cart-summery' %}">
                    <span class="circle">✔</span>
                    <span class="label">سبد خرید</span>
                </a>
            </li>
            <li class="step">
                <a href="{% url 'order:checkout-address' %}">
                    <span class="circle">✔</span>
                    <span class="label">آدرس</span>
                </a>
            </li>

            <li class="step active">
                <a href="{% url 'order:checkout-shipping' %}">
                    <span class="circle">3</span>
                    <span class="label">پرداخت</span>
                </a>
            </li>
        </ul>
    </div>
        <div class="shop-cs-checkout-layout">
            <main class="shop-cs-checkout-main">
                <section class="shop-cs-checkout-card py-1">

                    <div class="shop-cs-card-header">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path
                                d="M12 2C7.589 2 4 5.589 4 10c0 4.411 8 12 8 12s8-7.589 8-12c0-4.411-3.589-8-8-8zm0 12c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z">
                            </path>
                        </svg>
                        <h1 class="shop-cs-card-title text-dark">آدرس گیرنده:</h1>

                    </div>
                    <div class="shop-cs-card-body">
                        <div id="active-address-display">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.4em" viewBox="0 0 24 24">
                                <path d="m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z"></path>
                            </svg>
                            <div class="address-details-wrapper"></div>
                        </div>
                        <div id="address-list-collapsible">
                            <form action="{% url 'order:checkout-payment' %}" method="post" id="address-form">
                                {{addresses}}
                                {% csrf_token %}
                                {% for address in addresses %}
                                <div class="shop-cs-address-option shop-cs-selectable-option">
                                    <input type="radio" name="address_id" value="{{ address.id }}"
                                        id="address-{{ forloop.counter }}" {% if forloop.first %}checked{% endif %}>

                                    <label for="address-{{ forloop.counter }}" class="shop-cs-selectable-label">
                                        <span class="shop-cs-custom-tick-container">
                                            <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                                <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                            </svg>
                                        </span>
                                        <div class="shop-cs-address-details">
                                            <strong>{{ address.name }}</strong>
                                            <strong>{{ address.state }}, {{ address.city }}, {{ address.address }}
                                                ,{{address.zip_code }}</strong>
                                            <strong class="mt-2">{{address.phone_number}}</strong>
                                        </div>
                                    </label>
                                </div>
                                {% endfor %}

                                <a href="{% url 'dashboard:customer:address-list' %}"
                                    class="shop-cs-btn shop-cs-btn--secondary" style="margin-top: 10px;" role="button">+
                                    افزودن آدرس جدید</a>
                            </form>
                        </div>
                    </div>
                </section>


                <section class="shop-cs-checkout-card p-0 pb-5" id="shipment-section">
                    <div class="shop-cs-card-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                            fill="currentColor">
                            <path
                                d="M15 11h2.586l-2.293-2.293 1.414-1.414L21.414 12l-4.707 4.707-1.414-1.414L17.586 13H15v-2z">
                            </path>
                            <path
                                d="M13 3H8.667C7.194 3 6 4.194 6 5.667V10H4v10h1v-4h1v4h1v-4h1v4h1v-4h1v4h1V5.667C14 4.194 12.806 3 11.333 3H13V2h-2v1zM9 8H8V6h1v2zm2 0h-1V6h1v2z">
                            </path>
                        </svg>
                        <h2 class="shop-cs-card-title">شیوه و زمان ارسال</h2>
                    </div>

                    <form id="shipment-method-form" class="shop-cs-payment-method-section">
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="tracking_type" value="1" form="address-form" id="shipment-post">
                            <label for="shipment-post" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details"><strong>ارسال با پست عادی (زمان تحویل، 3 الی 5 روز
                                        کاری)</strong></div>
                            </label>
                        </div>
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="tracking_type" value="2" form="address-form" value="mahax"
                                id="shipment-mahax">
                            <label for="shipment-mahax" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details"><strong> ارسال با ماهکس (زمان تحویل، 1 الی 2 روز
                                        کاری) </strong></div>
                            </label>
                        </div>
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="tracking_type" value="3" form="address-form" value="tipax"
                                id="shipment-tipax" checked>
                            <label for="shipment-tipax" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details"><strong>ارسال با تیپاکس (زمان تحویل، 1 الی 2 روز
                                        کاری) </strong></div>
                            </label>
                        </div>

                    </form>

                </section>
                <section class="shop-cs-checkout-card p-0 pb-5">
                    <div class="shop-cs-card-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M21 4H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zM3 8h18v2H3V8zm0 6h6v2H3v-2z"/>
                        </svg>

                        <h2 class="shop-cs-card-title">روش پرداخت</h2>
                    </div>
                    <div id="payment-form" class="shop-cs-payment-method-section">
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="payment_method" form="address-form" value="wallet"
                                id="payment-wallet" data-wallet="{{wallet.balance|floatformat:0|intcomma}}">
                            <label for="payment-wallet" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details">
                                    <strong>پرداخت با کیف پول</strong>
                                    <p id="wallet-text">موجودی: {{wallet.balance|floatformat:0|intcomma}} تومان</p>
                                </div>
                            </label>
                        </div>
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="payment_method" form="address-form" value="zarinpal"
                                id="payment-card" checked>
                            <label for="payment-card" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details">
                                    <strong>پرداخت با درگاه زرین پال</strong>
                                    <p>پرداخت آنلاین از طریق درگاه امن</p>
                                    <p>برای سفارش های زیر 100 میلیون</p>
                                </div>
                            </label>
                        </div>
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="payment_method" form="address-form" value="gsmpay"
                                id="payment-gsmpay">
                            <label for="payment-gsmpay" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details">
                                    <strong>پرداخت اقساطی</strong>
                                    <p>پرداخت اقساطی از طریق GSMPAY</p>
                                </div>
                            </label>
                        </div>
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="payment_method" form="address-form" value="card_mahax"
                                id="payment-home">
                            <label for="payment-home" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details">
                                    <strong>پرداخت درب محل</strong>
                                    <p>فقط با ارسال توسط ماهکس</p>
                                    <p>پرداخت 10% از مبلغ در ابتدا</p>
                                </div>
                            </label>
                        </div>
                        <div class="shop-cs-selectable-option">
                            <input type="radio" name="payment_method" form="address-form" value="refah"
                                id="refah">
                            <label for="refah" class="shop-cs-selectable-label">
                                <span class="shop-cs-custom-tick-container">
                                    <svg class="shop-cs-tick-icon" viewBox="0 0 16 16">
                                        <path d="M4.5 8.5l2.5 2.5 5-5"></path>
                                    </svg>
                                </span>
                                <div class="shop-cs-payment-details">
                                    <strong>پرداخت با درگاه پرداخت بانک رفاه</strong>
                                    <p>پرداخت آنلاین از طریق درگاه امن</p>
                                    <p>برای سفارش های بالای 100 میلیون</p>
                                </div>
                            </label>
                        </div>

                    </div>
                </section>
            </main>

            <form class="shop-cs-checkout-sidebar">
                <div class="shop-cs-checkout-card shop-cs-order-summary-card">
                    <div class="shop-cs-card-body shop-cs-card-body--no-padding">
                        <div class="shop-cs-summary-row">
                            <div class="label">قیمت کالاها ({{cart.get_total_quantity}})</div>
                            <div class="value">{{total_price|intcomma}}<span class="shop-cs-price-unit">تومان</span>
                            </div>
                        </div>
                        <div class="shop-cs-summary-row">
                            <div class="label">هزینه بسته بندی ارسال</div>
                            <div class="value">50,000 <span class="shop-cs-price-unit">تومان</span></div>
                        </div>
                        <div class="shop-cs-summary-row">
                            <div class="label">تخفیف کالاها</div>
                            <div class="value" style="color:var(--dk-red)">({{sod|intcomma}}) <span
                                    class="shop-cs-price-unit">تومان</span></div>
                        </div>
                        <div id="total-amount-row" class="shop-cs-summary-row">
                            <div class="label">مبلغ نهایی</div>
                            <div class="value" id="final-amount" data-amount="{{total_price_with_tax|intcomma}}">
                                {{total_price_with_tax|intcomma}}<span class="shop-cs-price-unit">تومان</span></div>
                        </div>

                    </div>


                    <div class="shop-cs-summary-action" style="padding:16px;">
                        <button class="shop-cs-btn shop-cs-btn--primary" style="width: 100%; padding: 12px;"
                            type="submit" form="address-form">پرداخت</button>
                    </div>
                </div>
            </form>
        </div>
    </div>




    <script src="{% static 'js/shopping.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script>

        function removeProducts(product_id, color_id) {
            $.ajax({
                url: "{%  url 'cart:session-remove-product' %}",
                method: 'POST',
                data: {
                    product_id: product_id,
                    color_id: color_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'

                },
                success: function (response) {
                    console.log(response);
                    window.location.reload();
                    // do something with the response data
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    // handle the error case
                }
            });
        }
    </script>

    <script>
        function removeOneProductQuantity(product_id, color_id) {
            $.ajax({
                url: "{%  url 'cart:session-remove-one-quantity' %}",
                method: 'POST',
                data: {
                    product_id: product_id,
                    color_id: color_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'

                },
                success: function (response) {
                    console.log(response);
                    window.location.reload();
                    // do something with the response data
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    // handle the error case
                }
            });
        }
        function addOneProductQuantity(product_id, color_id) {
            $.ajax({
                url: "{%  url 'cart:session-add-one-quantity' %}",
                method: 'POST',
                data: {
                    product_id: product_id,
                    color_id: color_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'

                },
                success: function (response) {
                    console.log(response);
                    window.location.reload();
                    // do something with the response data
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    // handle the error case
                }
            });
        }
    </script>
    <script src="{% static 'vendor/toastify/toastify.js' %}"></script>

    {% include 'messages.html' %}


</body>

</html>