<div class="mega-menu-pane" id="pane-sports-desktop">
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start"
                href="{% url 'shop:product-list' %}?category=game-console">
                پلی استیشن 4
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start"
                href="{% url 'shop:product-list' %}?category=game-console">
                پلی استیشن 5
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start"
                href="{% url 'shop:product-list' %}?category=game-console">
                ایکس باکس سری s
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=game-console">
                ایکس باکس سری x
             </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=game-console">
                نینتندو
            </a>
        </h6>
    </div>

    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=game-console">
                لوازم جانبی پلی استیشن
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=game-console">
                لوازم جانبی ایکس باکس
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=game-console">
                لوازم جانبی پلی نینتندو
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2 w-right justify-content-end">
            <a href="{% url 'shop:product-list' %}?category=game-console" class="w-right a-cl">
                سایر برند ها ...
            </a>
        </h6>
    </div>
</div>