<div class="mega-menu-pane" id="pane-sports-desktop">
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                پلی استیشن
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                ایکس باکس
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                نینتندو
            </a>
        </h6>
    </div>

    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                متفرقه
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2 w-right justify-content-end">
            <a href="" class="w-right a-cl">
                دیدن همه ی برند های کنسول بازی ...
            </a>
        </h6>
    </div>
</div>