<div class="mega-menu-pane" id="frame">
    <div class="d-flex justify-content-end flex-column">
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="#">
                    نمونه ی غاغ برای عطفارکس
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2 w-right justify-content-end">
                <a href="" class="w-right a-cl">
                    دیدن همه ی برند های تبلت ...
                </a>
            </h6>
        </div>
    </div>
</div>