{% load menu_tags %}

{% get_mega_menus "frame-and-glass" as mega_menus %}

<div class="mega-menu-pane" id="frame">
    <div class="d-flex justify-content-end flex-column">
        {% for item in mega_menus %}
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category={{ item.category.slug }}&brand={{ item.brand.slug }}">
                    {{ item.brand.title }}
                </a>
            </h6>
        </div>
        {% empty %}
                <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="#">
                    چیزی نیست
                </a>
            </h6>
        </div>
        {% endfor %}
        <div class="mega-menu-sub-column">
            <h6 class="px-2 w-right justify-content-end">
                <a href="" class="w-right a-cl">
                    دیدن همه ی برند های تبلت ...
                </a>
            </h6>
        </div>
    </div>
</div>