<div class="mega-menu-pane" id="pane-toys-desktop">
    <div class="d-flex justify-content-end flex-column">
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=headset-headphones&brand=apple">
                    اپل
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=headset-headphones&brand=samsung">
                    سامسونگ
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=headset-headphones&brand=xiaomi">
                    شیائومی
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=headset-headphones&brand=sony">
                    سونی
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=headset-headphones&brand=gbl">
                    جی بی ال
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=headset-headphones&brand=beats">
                    بیتس
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=headset-headphones&brand=honor">
                    آنر
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=headset-headphones&brand=huawei">
                    هوآوی
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=headset-headphones&brand=anker">
                    انکر
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=headset-headphones&brand=kcy">
                    کی سی وای
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=headset-headphones&brand=haylou">
                    هایلو
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=headset-headphones&brand=king-star">
                    کینگ استار
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2 w-right justify-content-end">
                <a href="{% url 'shop:product-list' %}?category=headset-headphones" class="w-right a-cl">
                    سایر برند ها ...
                </a>
            </h6>
        </div>
    </div>
</div>