<div class="mega-menu-pane" id="pane-fashion-desktop">
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                اپل
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                مایکروسافت
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                ایسوس
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                اچ پی
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                ایسر
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                لنوو
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                اچ پی
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                ام اس ای
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                اچ تی سی
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                ال جی
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                سونی
            </a>
        </h6>
    </div>

    <div class="mega-menu-sub-column">
        <h6 class="px-2 w-right justify-content-end">
            <a href="" class="w-right a-cl">
                سایر برند ها ...
            </a>
        </h6>
    </div>
</div>