<div class="mega-menu-pane" id="pane-fashion-desktop">
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                اپل
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                ایسوس
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                ایسر
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                لنوو
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                اچ پی
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                متفرقه
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2 w-right justify-content-end">
            <a href="" class="w-right a-cl">
                دیدن همه ی برند های لپ تاپ ...
            </a>
        </h6>
    </div>
</div>