<div class="mega-menu-pane" id="pane-fashion-desktop">
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=laptop&brand=apple">
                اپل
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=laptop&brand=microsoft">
                مایکروسافت
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=laptop&brand=asus">
                ایسوس
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=laptop&brand=hp">
                اچ پی
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=laptop&brand=acer">
                ایسر
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=laptop&brand=lenovo">
                لنوو
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=laptop&brand=hp">
                اچ پی
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=laptop&brand=msi">
                ام اس ای
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=laptop&brand=htc">
                اچ تی سی
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=laptop&brand=lg">
                ال جی
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=laptop&brand=sony">
                سونی
            </a>
        </h6>
    </div>

    <div class="mega-menu-sub-column">
        <h6 class="px-2 w-right justify-content-end">
            <a href="{% url 'shop:product-list' %}?category=laptop" class="w-right a-cl">
                سایر برند ها ...
            </a>
        </h6>
    </div>
</div>