<div class="mega-menu-pane" id="pane-beauty-desktop">
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=monitor&brand=samsung">
                سامسونگ
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=monitor&brand=lg">
                ال جی
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=monitor&brand=msi">
                ام اس ای
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=monitor&brand=lenovo">
                لنوو
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=monitor&brand=gplus">
                جی پلاس
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=monitor&brand=huawei">
                هوآوی
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=monitor&brand=x-vision">
                ایکس ویژن
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=monitor&brand=maya">
                مایا
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=monitor&brand=ranso">
                رنسو
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=monitor&brand=horizon">
                هورایزن
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2 w-right justify-content-end">
            <a href="{% url 'shop:product-list' %}?category=monitor" class="w-right a-cl">
                سایر برند ها ...
            </a>
        </h6>
    </div>
</div>