<div class="mega-menu-pane" id="pane-beauty-desktop">
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                ال جی
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                سامسونگ
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                ام اس ای
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                جی پلاس
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                شیائومی
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2">
            <a class=" d-flex justify-content-start" href="#">
                متفرقه
            </a>
        </h6>
    </div>
    <div class="mega-menu-sub-column">
        <h6 class="px-2 w-right justify-content-end">
            <a href="" class="w-right a-cl">
                دیدن همه ی برند های مانیتور ...
            </a>
        </h6>
    </div>
</div>