<div class="mega-menu-pane active" id="pane-home-desktop">
    <div class="d-flex justify-content-end flex-column">
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=tablet&brand=apple">
                    اپل
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=tablet&brand=samsung">
                    سامسونگ
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=tablet&brand=xiaomi">
                    شیائومی
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=tablet&brand=microsoft">
                    مایکروسافت
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=tablet&brand=honor">
                    آنر
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=tablet&brand=huawei">
                    هواوی
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=tablet&brand=lenovo">
                    لنوو
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=tablet&brand=nartab">
                    نارتب
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=tablet&brand=tcl">
                    تی سی ال
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=tablet&brand=glx">
                    جی ال ایکس
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2 w-right justify-content-end">
                <a href="{% url 'shop:product-list' %}?category=tablet" class="w-right a-cl">
                    سایر برند ها ...
                </a>
            </h6>
        </div>
    </div>
</div>