<div class="mega-menu-pane" id="apple-watch">
    <div class="d-flex justify-content-end flex-column">
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=">
                    اپل
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=">
                    سامسونگ
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=">
                    شیائومی
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=">
                    آنر
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=">
                    آنر
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=">
                    آنر
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=">
                    آنر
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=">
                    آنر
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=">
                    آنر
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=">
                    آنر
                </a>
            </h6>
        </div>

        <div class="mega-menu-sub-column">
            <h6 class="px-2 w-right justify-content-end">
                <a href="" class="w-right a-cl">
                    سایر برند ها ...
                </a>
            </h6>
        </div>
    </div>
</div>