<div class="mega-menu-pane" id="apple-watch">
    <div class="d-flex justify-content-end flex-column">
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="#">
                    اپل
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="#">
                    سامسونگ
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="#">
                    شیائومی
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="#">
                    آنر
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="#">
                    متفرقه
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2 w-right justify-content-end">
                <a href="" class="w-right a-cl">
                    دیدن همه ی برند های ساعت هوشمند ...
                </a>
            </h6>
        </div>
    </div>
</div>