{% load menu_tags %}

{% get_mega_menus "mobile-charger-and-converter" as mega_menus %}
<div class="mega-menu-pane" id="apple-watch">
    <div class="d-flex justify-content-end flex-column">
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=apple">
                    اپل
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=samsung">
                    سامسونگ
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=xiaomi">
                    شیائومی
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=honor">
                    آنر
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=huawei">
                    هوآوی
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=kcy">
                    کی سی وای
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=haylou">
                    هایلو
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=mibro">
                    میبرو
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=glorimi">
                    گلوریمی
                </a>
            </h6>
        </div>
        <div class="mega-menu-sub-column">
            <h6 class="px-2">
                <a class=" d-flex justify-content-start" href="{% url 'shop:product-list' %}?category=smartwatch&brand=imilab">
                    ای می لب
                </a>
            </h6>
        </div>

        <div class="mega-menu-sub-column">
            <h6 class="px-2 w-right justify-content-end">
                <a href="{% url 'shop:product-list' %}?category=smartwatch" class="w-right a-cl">
                    سایر برند ها ...
                </a>
            </h6>
        </div>
    </div>
</div>